# Default values for search-index-env-sync.

nameOverride: ""
fullnameOverride: ""
toolbox:
  image:
    repository: "172025368201.dkr.ecr.eu-west-1.amazonaws.com/github/alphagov/govuk/govuk-toolbox-image"
    tag: "v13"

# govukEnvironment determines which set of cronjobs to use from `cronjobs`
# below. When running under Argo CD, the ../app-config chart passes the
# appropriate value for govukEnvironment by default.
govukEnvironment: staging

cronjobs:
  production:
    green-es6-snapshot:  # This would be too long as green-elasticsearch6-domain-snapshot
      schedule: "21 1 * * *"
      args: [create_and_clean_up]
      extraEnv:
        - name: SUBDOMAIN
          value: elasticsearch6
    chat-engine-snapshot:
      schedule: "12 1 * * *"
      args: [create_and_clean_up]
      extraEnv:
        - name: SUBDOMAIN
          value: chat-opensearch
        - name: SEARCH_USERNAME
          valueFrom:
            secretKeyRef:
              name: govuk-chat-opensearch
              key: username
        - name: SEARCH_PASSWORD
          valueFrom:
            secretKeyRef:
              name: govuk-chat-opensearch
              key: password

  staging:
    green-es6-cp-prod:  # This would be too long as green-elasticsearch6-domain-cp-prod
      schedule: "00 3 * * *"
      args: [restore_latest]
      extraEnv:
        - name: SNAPSHOT_REPO
          value: govuk-production
        - name: SUBDOMAIN
          value: elasticsearch6
    green-es6-snapshot:  # This would be too long as green-elasticsearch6-domain-snapshot
      schedule: "37 2 * * *"
      args: [create_and_clean_up]
      extraEnv:
        - name: SUBDOMAIN
          value: elasticsearch6
    chat-engine-cp-prod:
      schedule: "12 2 * * *"
      args: [restore_latest]
      extraEnv:
        - name: SNAPSHOT_REPO
          value: govuk-production
        - name: SUBDOMAIN
          value: chat-opensearch
        - name: SEARCH_USERNAME
          valueFrom:
            secretKeyRef:
              name: govuk-chat-opensearch
              key: username
        - name: SEARCH_PASSWORD
          valueFrom:
            secretKeyRef:
              name: govuk-chat-opensearch
              key: password

  integration:
    green-es6-cp-stag:  # This would be too long as green-elasticsearch6-domain-cp-stag
      schedule: "17 6 * * *"
      args: [restore_latest]
      extraEnv:
        - name: SNAPSHOT_REPO
          value: govuk-staging
        - name: SUBDOMAIN
          value: elasticsearch6
    chat-engine-cp-prod:
      schedule: "12 4 * * *"
      args: [restore_latest]
      extraEnv:
        - name: SNAPSHOT_REPO
          value: govuk-production
        - name: SUBDOMAIN
          value: chat-opensearch
        - name: SEARCH_USERNAME
          valueFrom:
            secretKeyRef:
              name: govuk-chat-opensearch
              key: username
        - name: SEARCH_PASSWORD
          valueFrom:
            secretKeyRef:
              name: govuk-chat-opensearch
              key: password
    test-chat-cp-prod:
      schedule: "12 5 * * *"
      args: [restore_latest]
      extraEnv:
        - name: SNAPSHOT_REPO
          value: govuk-production
        - name: SUBDOMAIN
          value: chat-opensearch-test
        - name: SEARCH_USERNAME
          valueFrom:
            secretKeyRef:
              name: govuk-chat-opensearch-test
              key: username
        - name: SEARCH_PASSWORD
          valueFrom:
            secretKeyRef:
              name: govuk-chat-opensearch-test
              key: password

podSecurityContext:
  fsGroup: 1001
  runAsNonRoot: true
  runAsUser: 1001
  runAsGroup: 1001
  seccompProfile:
    type: RuntimeDefault

securityContext:
  allowPrivilegeEscalation: false
  readOnlyRootFilesystem: true
  capabilities:
    drop: ["ALL"]

resources:
  limits:
    cpu: 50m
    memory: 64Mi
  requests:
    cpu: 10m
    memory: 32Mi
