apiVersion: argoproj.io/v1alpha1
kind: WorkflowEventBinding
metadata:
  name: deploy-image
spec:
  event:
    selector: payload.environment != "" && payload.repoName != "" && payload.imageTag != "" && discriminator == "update-image-tag"
  submit:
    workflowTemplateRef:
      name: deploy-image
    generateName: "deploy-{{`{{payload.repoName}}`}}-{{`{{payload.environment}}`}}-{{`{{payload.imageTag | substr 0 8}}`}}-"
    arguments:
      parameters:
        - name: environment
          valueFrom:
            event: payload.environment
        - name: repoName
          valueFrom:
            event: payload.repoName
        - name: imageTag
          valueFrom:
            event: payload.imageTag
        - name: promoteDeployment
          valueFrom:
            event: payload.promoteDeployment
