apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: govuk-chat-opensearch-test
  labels:
    {{- include "external-secrets.labels" . | nindent 4 }}
  annotations:
    kubernetes.io/description: >
      OpenSearch credentials for the GovUK Chat OpenSearch Test domain
spec:
  refreshInterval: {{ .Values.externalSecrets.refreshInterval }}
  secretStoreRef:
    name: aws-secretsmanager
    kind: ClusterSecretStore
  target:
    deletionPolicy: {{ .Values.externalSecrets.deletionPolicy }}
  dataFrom:
    - extract:
        key: govuk/govuk-chat/opensearch-test
