apiVersion: argoproj.io/v1alpha1
kind: WorkflowTemplate
metadata:
  name: notify-slack
spec:
  entrypoint: notify-slack
  arguments:
    parameters:
      - name: slackChannel
      - name: appRepo
        description: "Name of the application repository. Used to fetch alerts channel name from developer docs."
        default: ""
      - name: text
      - name: blocks
        description: "Provide advanced formatting for a message using Slack's Block Kit"
        default: ""
  templates:
    - name: notify-slack
      inputs:
        parameters:
        - name: slackChannel
        - name: appRepo
        - name: text
        - name: blocks
      script:
        image: 172025368201.dkr.ecr.eu-west-1.amazonaws.com/github/alphagov/govuk/govuk-toolbox-image:v29
        command: ["/bin/bash"]
        source: |
          {{- .Files.Get "scripts/send-slack.sh" | nindent 10 }}
        env:
          - name: SLACK_WEBHOOK_ENDPOINT
            valueFrom:
              secretKeyRef:
                name: slack-webhook-url
                key: url
          - name: SLACK_MESSAGE_TEXT
            value: "{{"{{inputs.parameters.text}}"}}"
          - name: SLACK_MESSAGE_BLOCKS
            value: "{{"{{inputs.parameters.blocks}}"}}"
          - name: SLACK_CHANNEL
            value: "{{"{{inputs.parameters.slackChannel}}"}}"
          - name: SLACK_APP_REPO
            value: "{{"{{inputs.parameters.appRepo}}"}}"
