# Values for Asset-manager Rails application.

service:
  type: NodePort
  annotations: {}
  port: 80

ingress:
  enabled: true
  annotations:
    alb.ingress.kubernetes.io/scheme: internet-facing
    alb.ingress.kubernetes.io/target-type: ip
    alb.ingress.kubernetes.io/listen-ports: '[{"HTTP": 80}, {"HTTPS": 443}]'
    alb.ingress.kubernetes.io/ssl-redirect: "443"
    alb.ingress.kubernetes.io/healthcheck-path: /healthcheck/ready
  hosts:
  - name:
    path: /
    pathType: Prefix

replicaCount: 1

# workerEnabled should be true if the app uses Sidekiq, false otherwise.
workerEnabled: true
workerReplicaCount: 1

appImage:
  repository: "172025368201.dkr.ecr.eu-west-1.amazonaws.com/asset-manager"
  tag: latest
appPort: 3000

# appProbes defines liveness/readiness/startup probes for the app container.
# See templates/deployment.yaml file for the default values.
# When overriding these probes, you must override all three probes if you need
# them - the whole block is replaced.
appProbes: {}

nginxImage:
  repository: nginxinc/nginx-unprivileged
  pullPolicy: Always
  tag: stable-perl
nginxPort: 8080
nginxProxyConnectTimeout: 1s
nginxProxyReadTimeout: 15s
nginxConfigMap:
  create: true
nginxExtraVolumeMounts: []
nginxExtraVolumes: []

appResources:
  limits:
    cpu: 1
    memory: 1Gi
  requests:
    cpu: 500m
    memory: 1Gi

workerResources:
  limits:
    cpu: 1
    memory: 2Gi
  requests:
    cpu: 500m
    memory: 2Gi

# nfsServer is the address of the NFSv4 (or Amazon EFS) server where uploaded
nfsServer: "nfs-server"

# dnsConfig is passed directly into the pod specs in the app and worker
# deployment templates.
dnsConfig: {}

# extraEnv:
#  - name: RETICULATE_SPLINES
#    value: "true"

metricsPort: 9394
