apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: signon-devise-secret
  labels:
    {{- include "external-secrets.labels" . | nindent 4 }}
  annotations:
    kubernetes.io/description: >
      Secret key which Devise uses to generate tokens. This needs to be
      consistent between all instances of Signon which share the same database,
      otherwise confirmation tokens, password reset tokens and unlock tokens
      will not be valid. See
      https://github.com/heartcombo/devise/blob/8593801/lib/generators/templates/devise.rb#L12
spec:
  refreshInterval: {{ .Values.externalSecrets.refreshInterval }}
  secretStoreRef:
    name: aws-secretsmanager
    kind: ClusterSecretStore
  target:
    name: signon-devise-secret
  dataFrom:
    - extract:
        key: govuk/signon/devise-secret
