apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: signon-notify
  labels:
    {{- include "external-secrets.labels" . | nindent 4 }}
  annotations:
    kubernetes.io/description: >
      API key used to send emails via GOV.UK Notify
spec:
  refreshInterval: {{ .Values.externalSecrets.refreshInterval }}
  secretStoreRef:
    name: aws-secretsmanager
    kind: ClusterSecretStore
  target:
    deletionPolicy: {{ .Values.externalSecrets.deletionPolicy }}
    name: signon-notify
  dataFrom:
    - extract:
        key: govuk/signon/notify
