apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: govuk-account-oauth
  labels:
    {{- include "external-secrets.labels" . | nindent 4 }}
  annotations:
    kubernetes.io/description: >
      Govuk Account Oauth secrets used by Account API.
spec:
  refreshInterval: {{ .Values.externalSecrets.refreshInterval }}
  secretStoreRef:
    name: aws-secretsmanager
    kind: ClusterSecretStore
  target:
    name: govuk-account-oauth
  dataFrom:
    - extract:
        key: govuk/account-api/govuk-account-oauth
