apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: account-api-postgres
  labels:
    {{- include "external-secrets.labels" . | nindent 4 }}
  annotations:
    kubernetes.io/description: >
      Connection to Postgres DB hosted in RDS for Account API.
spec:
  refreshInterval: {{ .Values.externalSecrets.refreshInterval }}
  secretStoreRef:
    name: aws-secretsmanager
    kind: ClusterSecretStore
  target:
    name: account-api-postgres
    template:
      data:
        DATABASE_URL: '{{ $.Files.Get "externalsecrets-templates/psql-conn-string.tpl" | trim }}/account-api_production'
  dataFrom:
    - extract:
        key: govuk/account-api/postgres
