apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: account-api-session-secret
  labels:
    {{- include "external-secrets.labels" . | nindent 4 }}
  annotations:
    kubernetes.io/description: >
      Account API uses this to derive session signing keys. JSON key is
      "session_secret".
spec:
  refreshInterval: {{ .Values.externalSecrets.refreshInterval }}
  secretStoreRef:
    name: aws-secretsmanager
    kind: ClusterSecretStore
  target:
    deletionPolicy: {{ .Values.externalSecrets.deletionPolicy }}
    name: account-api-session-secret
  dataFrom:
    - extract:
        key: govuk/account-api/session-secret
