apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: router-nginx-htpasswd
  labels:
    {{- include "external-secrets.labels" . | nindent 4 }}
  annotations:
    kubernetes.io/description: >
      htpasswd file containing Basic Auth usernames and password hashes for the
      nginx in front of Router. Not used in production or staging.
spec:
  refreshInterval: {{ .Values.externalSecrets.refreshInterval }}
  secretStoreRef:
    name: aws-secretsmanager
    kind: ClusterSecretStore
  target:
    name: router-nginx-htpasswd
  dataFrom:
    - extract:
        key: govuk/router/htpasswd
