govukEnvironment: test
externalDomainSuffix: www.test.publishing.service.gov.uk
k8sExternalDomainSuffix: eks.test.govuk.digital
publishingDomainSuffix: test.publishing.service.gov.uk
assetsDomain: assets.test.publishing.service.gov.uk

cronJobs:
  - name: smokey
    schedule: "*/10 7-19 * * 1-5"
    args:
      - cucumber
      - --profile={{ .Values.govukEnvironment }}
      - --strict-undefined

arch: amd64
appImage:
  repository: 172025368201.dkr.ecr.eu-west-1.amazonaws.com/smokey
  tag: latest

externalSecrets:
  refreshInterval: 1h  # Be kind to etcd and don't set this too short.
  deletionPolicy: Delete
