{{- if .Values.uploadAssets.enabled -}}
{{- $destDir := .Values.uploadAssets.s3Directory | default .Release.Name }}
{{- $sourcePath := .Values.uploadAssets.path | default (printf "/app/public/assets/%s" .Release.Name) }}
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ .Release.Name }}-upload-assets
  annotations:
    argocd.argoproj.io/hook: PreSync
spec:
  template:
    spec:
      automountServiceAccountToken: false
      securityContext:
        runAsNonRoot: {{ .Values.securityContext.runAsNonRoot }}
      initContainers:
      - name: {{ .Release.Name }}-copy-assets-for-upload
        image: "{{ .Values.appImage.repository }}:{{ required "Valid .Values.appImage.tag required!" .Values.appImage.tag }}"
        command:
        - sh
        - -c
        - "cp -R {{ $sourcePath }}/* /assets-to-upload"
        volumeMounts: &volumeMounts
        - name: assets-to-upload
          mountPath: /assets-to-upload
        {{- if .Values.securityContext.appContainer }}
        securityContext:
          allowPrivilegeEscalation: false
          runAsUser: 1001
          runAsGroup: 1001
        {{- end }}
      containers:
      - name: {{ .Release.Name }}-upload-assets
        image: public.ecr.aws/bitnami/aws-cli
        command:
        - aws
        - s3
        - sync
        - /assets-to-upload
        - "{{- printf "s3://govuk-app-assets-%s/assets/%s/" .Values.govukEnvironment $destDir }}"
        {{- with .Values.jobResources }}
        resources:
          {{- . | toYaml | trim | nindent 12 }}
        {{- end }}
        volumeMounts: *volumeMounts
      restartPolicy: Never
      volumes:
      - name: assets-to-upload
        emptyDir: {}
{{- end }}
