apiVersion: v1
kind: ConfigMap
metadata:
  name: govuk-apps-env
  labels:
    {{- include "govuk-apps-conf.labels" . | nindent 4 }}
data:
  {{- /* TODO: omit namespace from these user-facing URLs in the default namespace. */}}
  {{- /* TODO: delete PLEK_SERVICE_*_URI once Plek can construct http:// internal URLs. */}}
  ASSET_HOST: https://www.{{ .Values.externalDomainSuffix }}
  GOVUK_APP_DOMAIN: {{ .Values.internalDomainSuffix }}
  GOVUK_APP_DOMAIN_EXTERNAL: {{ .Values.externalDomainSuffix }}
  GOVUK_ASSET_ROOT: https://assets.{{ .Values.publishingServiceDomainSuffix }}
  GOVUK_ENVIRONMENT: {{ .Values.govukEnvironment }}
  GOVUK_ENVIRONMENT_NAME: {{ .Values.govukEnvironment }}
  GOVUK_PROMETHEUS_EXPORTER: "true"
  GOVUK_WEBSITE_ROOT: https://www.{{ .Values.externalDomainSuffix }}
  # TODO: switch back to in-cluster Account API once it's fully working.
  PLEK_SERVICE_ACCOUNT_API_URI: https://account-api.{{ .Values.govukEnvironment }}.{{ .Values.ec2InternalDomainSuffix }}
  PLEK_SERVICE_ASSET_MANAGER_URI: https://asset-manager.{{ .Values.govukEnvironment }}.{{ .Values.ec2InternalDomainSuffix }}
  PLEK_SERVICE_CONTENT_STORE_URI: https://content-store.{{ .Values.govukEnvironment }}.{{ .Values.ec2InternalDomainSuffix }}
  PLEK_SERVICE_DRAFT_ORIGIN_URI: https://draft-origin.{{ .Values.externalDomainSuffix }}
  PLEK_SERVICE_EMAIL_ALERT_API_URI: https://email-alert-api.{{ .Values.govukEnvironment }}.{{ .Values.ec2InternalDomainSuffix }}
  PLEK_SERVICE_FRONTEND_URI: http://frontend.{{ .Values.internalDomainSuffix }}
  PLEK_SERVICE_LINK_CHECKER_API_URI: https://link-checker-api.{{ .Values.govukEnvironment }}.{{ .Values.ec2InternalDomainSuffix }}
  PLEK_SERVICE_PUBLISHING_API_URI: https://publishing-api.{{ .Values.govukEnvironment }}.{{ .Values.ec2InternalDomainSuffix }}
  PLEK_SERVICE_ROUTER_API_URI: https://router-api.{{ .Values.govukEnvironment }}.{{ .Values.ec2InternalDomainSuffix }}
  PLEK_SERVICE_MAPIT_URI: https://mapit.{{ .Values.govukEnvironment }}.{{ .Values.ec2InternalDomainSuffix }}
  PLEK_SERVICE_IMMINENCE_URI: https://imminence.{{ .Values.govukEnvironment }}.{{ .Values.ec2InternalDomainSuffix }}
  PLEK_SERVICE_LOCAL_LINKS_MANAGER_URI: https://local-links-manager.{{ .Values.govukEnvironment }}.{{ .Values.ec2InternalDomainSuffix }}
  PLEK_SERVICE_LICENSIFY_URI: https://licensify.{{ .Values.govukEnvironment }}.{{ .Values.ec2InternalDomainSuffix }}
  # TODO: switch back to in-cluster Search API once it's fully working.
  PLEK_SERVICE_SEARCH_URI: https://search-api.{{ .Values.govukEnvironment }}.{{ .Values.ec2InternalDomainSuffix }}
  PLEK_SERVICE_SIGNON_URI: http://signon.{{ .Values.externalDomainSuffix }}
  PLEK_SERVICE_STATIC_URI: http://static.{{ .Values.internalDomainSuffix }}
  PLEK_SERVICE_SUPPORT_URI: https://support.{{ .Values.govukEnvironment }}.{{ .Values.ec2InternalDomainSuffix }}
  PLEK_SERVICE_SUPPORT_API_URI: https://support-api.{{ .Values.govukEnvironment }}.{{ .Values.ec2InternalDomainSuffix }}
  PLEK_SERVICE_WHITEHALL_FRONTEND_URI: http://whitehall-frontend.{{ .Values.internalDomainSuffix }}
  SENTRY_CURRENT_ENV: {{ .Values.govukEnvironment }}-eks
