{{- if .Values.rails.createKeyBaseSecret }}
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: asset-manager-rails-secret-key-base
  labels:
    {{- include "asset-manager.labels" . | nindent 4 }}
    app: {{ .Release.Name }}
  annotations:
    kubernetes.io/description: >
      The Rails secret key base for the application.
spec:
  refreshInterval: {{ .Values.externalSecrets.refreshInterval }}
  secretStoreRef:
    name: aws-secretsmanager
    kind: ClusterSecretStore
  target:
    deletionPolicy: {{ .Values.externalSecrets.deletionPolicy }}
    name: asset-manager-rails-secret-key-base
  data:
    - secretKey: secret-key-base
      remoteRef:
        key: govuk/common/rails-secret-key-base
        property: asset-manager
{{- end }}
