apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: link-checker-api-postgres
  labels:
    {{- include "external-secrets.labels" . | nindent 4 }}
  annotations:
    kubernetes.io/description: >
      Connection string for Link Checker API DB hosted in RDS
spec:
  refreshInterval: {{ .Values.externalSecrets.refreshInterval }}
  secretStoreRef:
    name: aws-secretsmanager
    kind: ClusterSecretStore
  target:
    name: link-checker-api-postgres
    template:
      data:
        DATABASE_URL: '{{ $.Files.Get "externalsecrets-templates/psql-conn-string.tpl" | trim }}/link_checker_api_production'
  dataFrom:
    - extract:
        key: govuk/link-checker-api/postgres
