apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cluster-autoscaler
  namespace: {{ .Values.argoNamespace | default .Release.Namespace }}
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    {{- include "app-config.helm-release"
        ( merge (deepCopy .) (dict "repoURL" "https://kubernetes.github.io/autoscaler" "chart" "cluster-autoscaler") )
        | nindent 4 }}
    helm:
      values: |
        awsRegion: eu-west-1
        rbac:
          create: true
          serviceAccount:
            name: cluster-autoscaler
            annotations:
              eks.amazonaws.com/role-arn: arn:aws:iam::{{ .Values.awsAccountId }}:role/cluster-autoscaler-govuk
        autoDiscovery:
          clusterName: govuk
          enabled: true
        extraArgs:
          balance-similar-node-groups: true
          scale-down-utilization-threshold: "0.55"
          skip-nodes-with-local-storage: false
          v: "0"
        extraObjects:
        - apiVersion: monitoring.coreos.com/v1
          kind: PodMonitor
          metadata:
            name: aws-cluster-autoscaler
            labels:
              app.kubernetes.io/instance: cluster-autoscaler
              app.kubernetes.io/name: aws-cluster-autoscaler
          spec:
            jobLabel: app.kubernetes.io/name
            selector:
              matchLabels:
                app.kubernetes.io/name: aws-cluster-autoscaler
            podMetricsEndpoints:
              - port: "8085"
                path: "/metrics"
        replicaCount: {{ .Values.replicaCount }}
  destination:
    server: https://kubernetes.default.svc
    namespace: kube-system
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - ApplyOutOfSyncOnly=true
      - ServerSideApply=true
