# After modifying this configmap, you will need to restart deployments (kubectl
# rollout restart) in order to pick up changes to environment variables.
#
# TODO: consider whether to use https://github.com/stakater/Reloader or similar
# so that changes are rolled out automatically.
apiVersion: v1
kind: ConfigMap
metadata:
  name: govuk-apps-env
  labels:
    {{- include "app-config.labels" . | nindent 4 }}
  annotations:
    kubernetes.io/description: >
      Environment variables applied to every GOV.UK app.
data:
  GOVUK_APP_DOMAIN: ""
  GOVUK_APP_DOMAIN_EXTERNAL: {{ .Values.externalDomainSuffix }}
  GOVUK_ASSET_ROOT: https://assets.{{ .Values.publishingServiceDomainSuffix }}
  GOVUK_CSP_REPORT_ONLY: {{ .Values.cspReportOnly | quote }}
  GOVUK_CSP_REPORT_URI: {{ .Values.cspReportURI | quote }}
  GOVUK_ENVIRONMENT: {{ .Values.govukEnvironment }}
  GOVUK_ENVIRONMENT_NAME: {{ .Values.govukEnvironment }}
  GOVUK_PROMETHEUS_EXPORTER: "true"
  GOVUK_PERSONALISATION_FEEDBACK_URI: https://signin.account.gov.uk/support
  {{- if eq .Values.govukEnvironment "production" }}
  GOVUK_PERSONALISATION_MANAGE_URI: "https://account.gov.uk?link=manage-account"
  GOVUK_PERSONALISATION_SECURITY_URI: "https://account.gov.uk?link=security-privacy"
  {{- else }}
  GOVUK_PERSONALISATION_MANAGE_URI: "https://integration.account.gov.uk?link=manage-account"
  GOVUK_PERSONALISATION_SECURITY_URI: "https://integration.account.gov.uk?link=security-privacy"
  {{- end }}
  GOVUK_WEBSITE_ROOT: https://www.{{ .Values.externalDomainSuffix }}
  PLEK_UNPREFIXABLE_HOSTS: account-api,feedback,imminence,info-frontend,licensify,local-links-manager,locations-api,search-api,signon
  PLEK_USE_HTTP_FOR_SINGLE_LABEL_DOMAINS: "true"
  RAILS_LOG_TO_STDOUT: "true"
  SENTRY_CURRENT_ENV: {{ .Values.govukEnvironment }}-eks

  PLEK_SERVICE_ASSETS_URI: https://assets.{{ .Values.publishingServiceDomainSuffix }}
  PLEK_SERVICE_DRAFT_ASSETS_URI: https://draft-assets.{{ .Values.publishingServiceDomainSuffix }}

  # Services which remain in EC2 for a while after "MVP launch".
  PLEK_SERVICE_LICENSIFY_URI: https://licensify.{{ .Values.govukEnvironment }}.{{ .Values.ec2InternalDomainSuffix }}

  {{- /* Special-case hackery for running frontends in k8s but APIs/backends in EC2. */}}
  {{- /* TODO: get rid of this before launch. */}}
  {{- if ne .Values.govukEnvironment "integration" }}
  PLEK_SERVICE_ACCOUNT_API_URI: https://account-api.{{ .Values.govukEnvironment }}.{{ .Values.ec2InternalDomainSuffix }}
  PLEK_SERVICE_ASSET_MANAGER_URI: https://asset-manager.{{ .Values.govukEnvironment }}.{{ .Values.ec2InternalDomainSuffix }}
  PLEK_SERVICE_CONTENT_STORE_URI: https://content-store.{{ .Values.govukEnvironment }}.{{ .Values.ec2InternalDomainSuffix }}
  PLEK_SERVICE_EMAIL_ALERT_API_URI: https://email-alert-api.{{ .Values.govukEnvironment }}.{{ .Values.ec2InternalDomainSuffix }}
  PLEK_SERVICE_LINK_CHECKER_API_URI: https://link-checker-api.{{ .Values.govukEnvironment }}.{{ .Values.ec2InternalDomainSuffix }}
  PLEK_SERVICE_LOCATIONS_API_URI: https://locations-api.{{ .Values.govukEnvironment }}.{{ .Values.ec2InternalDomainSuffix }}
  PLEK_SERVICE_ROUTER_API_URI: https://router-api.{{ .Values.govukEnvironment }}.{{ .Values.ec2InternalDomainSuffix }}
  PLEK_SERVICE_IMMINENCE_URI: https://imminence.{{ .Values.govukEnvironment }}.{{ .Values.ec2InternalDomainSuffix }}
  PLEK_SERVICE_LOCAL_LINKS_MANAGER_URI: https://local-links-manager.{{ .Values.govukEnvironment }}.{{ .Values.ec2InternalDomainSuffix }}
  PLEK_SERVICE_SEARCH_API_URI: https://search-api.{{ .Values.govukEnvironment }}.{{ .Values.ec2InternalDomainSuffix }}
  PLEK_SERVICE_SIGNON_URI: https://signon.{{ .Values.externalDomainSuffix }}
  PLEK_SERVICE_SUPPORT_URI: https://support.{{ .Values.govukEnvironment }}.{{ .Values.ec2InternalDomainSuffix }}
  PLEK_SERVICE_SUPPORT_API_URI: https://support-api.{{ .Values.govukEnvironment }}.{{ .Values.ec2InternalDomainSuffix }}
  {{- end }}
