apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: external-secrets-app
  namespace: {{ .Values.argoNamespace | default .Release.Namespace }}
spec:
  project: default
  source:
    repoURL: https://charts.external-secrets.io
    chart: external-secrets
    targetRevision: "0.7.2"
    helm:
      releaseName: external-secrets
      values: |
        replicaCount: {{ .Values.replicaCount }}
        certController:
          replicaCount: {{ .Values.replicaCount }}
        webhook:
          replicaCount: {{ .Values.replicaCount }}
        serviceAccount:
          name: external-secrets
          annotations:
            eks.amazonaws.com/role-arn: "arn:aws:iam::{{ .Values.awsAccountId }}:role/external-secrets-govuk"
  destination:
    server: https://kubernetes.default.svc
    namespace: {{ .Values.argoNamespace }}
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - ApplyOutOfSyncOnly=true
