{{ range .Values.govukApplications }}
{{- $reponame := .repoName | default .name }}
{{- $imageTagConfig := $.Files.Get (printf "image-tags/%s/%s" $.Values.govukEnvironment $reponame) | fromYaml }}
{{- $imageTag := $imageTagConfig.image_tag }}
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ .name }}
  namespace: {{ $.Values.argoNamespace | default $.Release.Namespace }}
  {{- if has $.Values.govukEnvironment (list "test" "integration") }}
  {{- /* Clean up k8s resources on chart deletion in non-prod only. */}}
  finalizers:
  - resources-finalizer.argocd.argoproj.io
  {{- end }}
  annotations:
    slackChannel: "{{ .slackChannel }}"
    repoName: "{{ $reponame }}"
    imageTag: "{{ $imageTag }}"
    notifications.argoproj.io/subscribe.on-deployed.argo_events: ""
    notifications.argoproj.io/subscribe.deployment.grafana: "deployment|{{ .name }}"
    postSyncWorkflowEnabled: "{{ .postSyncWorkflowEnabled | default "true" }}"
spec:
  project: govuk
  source:
    repoURL: git@github.com/alphagov/govuk-helm-charts
    path: "{{ .chartPath | default "charts/generic-govuk-app" }}"
    targetRevision: {{ .targetRevision | default "HEAD" }}
    helm:
      # Environment-specific Helm values. These take precedence over the app
      # chart's values.yaml.
      values: |
        {{- toYaml (omit $.Values "govukApplications") | nindent 8 }}
        repoName: {{ $reponame }}
        appImage:
          repository: 172025368201.dkr.ecr.eu-west-1.amazonaws.com/{{ $reponame }}
          tag: {{ $imageTag }}
        {{- with .helmValues }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
  destination:
    server: https://kubernetes.default.svc
    namespace: {{ $.Values.appsNamespace }}
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true
    - PrunePropagationPolicy=foreground
    - PruneLast=true
    - ApplyOutOfSyncOnly=true
---
{{ end }}
