apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: reloader
  namespace: {{ .Values.argoNamespace | default .Release.Namespace }}
spec:
  project: default
  source:
    repoURL: https://stakater.github.io/stakater-charts
    chart: reloader
    targetRevision: "1.0.51"
    helm:
      values: |
        reloader:
          reloadStrategy: annotations
  destination:
    server: https://kubernetes.default.svc
    namespace: {{ .Values.argoNamespace }}
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - ApplyOutOfSyncOnly=true
