apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: reloader
  namespace: {{ .Values.argoNamespace | default .Release.Namespace }}
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    {{- include "app-config.helm-release"
        ( merge (deepCopy .) (dict "repoURL" "https://stakater.github.io/stakater-charts" "chart" "reloader") )
        | nindent 4 }}
    helm:
      values: |
        reloader:
          readOnlyRootFilesystem: true
          reloadStrategy: annotations
          podMonitor:
            enabled: true
          deployment:
            containerSecurityContext:
              capabilities:
                drop:
                  - ALL
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true

  destination:
    server: https://kubernetes.default.svc
    namespace: {{ .Values.argoNamespace }}
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - ApplyOutOfSyncOnly=true
      - ServerSideApply=true
