apiVersion: v1
kind: ConfigMap
metadata:
  name: draft-router-nginx-conf
  labels:
    {{- include "govuk-apps-conf.labels" . | nindent 4 }}
    app.kubernetes.io/component: web
data:
  nginx.conf: |-
    {{- include "govuk-apps-conf.router-nginx-config" ( mergeOverwrite . ( dict "Stack" "draft" ) ) | nindent 4 }}
  robots.txt: |-
      User-agent: *
      Disallow: /
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: live-router-nginx-conf
  labels:
    {{- include "govuk-apps-conf.labels" . | nindent 4 }}
    app.kubernetes.io/component: web
data:
  nginx.conf: |-
    {{- include "govuk-apps-conf.router-nginx-config" ( mergeOverwrite . ( dict "Stack" "live" ) ) | nindent 4 }}
  robots.txt: |-
    {{- if eq .Values.govukEnvironment "production" }}
      {{- $.Files.Get "www-production-robots.txt" | nindent 4 }}
    {{- else }}
      User-agent: *
      Disallow: /
    {{- end }}
