apiVersion: argoproj.io/v1alpha1
kind: WorkflowTemplate
metadata:
  name: smoke-test
spec:
  entrypoint: smoke-test
  arguments:
    parameters:
      - name: extra-args
  templates:
    - name: smoke-test
      inputs:
        parameters:
          - name: extra-args
      container:
        image: "{{ .Values.appImage.repository }}:{{ .Values.appImage.tag }}"
        command:
          - "bundle"
          - "exec"
          - "cucumber --profile=${ENVIRONMENT} --strict-undefined --tags='@replatforming' --tags='not @notreplatforming and not @not${ENVIRONMENT}{{"{{ inputs.parameters.extra-args }}"}}'"
        env:
        - name: ENVIRONMENT
          valueFrom:
            configMapKeyRef:
              name: govuk-apps-env
              key: GOVUK_ENVIRONMENT
        - name: GOVUK_APP_DOMAIN
          valueFrom:
            configMapKeyRef:
              name: govuk-apps-env
              key: GOVUK_APP_DOMAIN
        - name: GOVUK_WEBSITE_ROOT
          valueFrom:
            configMapKeyRef:
              name: govuk-apps-env
              key: GOVUK_WEBSITE_ROOT
        - name: GOVUK_APP_DOMAIN_EXTERNAL
          valueFrom:
            configMapKeyRef:
              name: govuk-apps-env
              key: GOVUK_APP_DOMAIN_EXTERNAL
        - name: SIGNON_EMAIL
          valueFrom:
            secretKeyRef:
              name: smokey-signon-account
              key: email
        - name: SIGNON_PASSWORD
          valueFrom:
            secretKeyRef:
              name: smokey-signon-account
              key: password
        - name: BEARER_TOKEN
          valueFrom:
            secretKeyRef:
              name: signon-token-smokey-asset-manager
              key: bearer_token
        - name: PLEK_SERVICE_ASSET_MANAGER_URI
          value: http://asset-manager.{{ .Values.internalDomainSuffix }}
