{{- if ne .Values.govukEnvironment "ephemeral" }}
{{ $envValues := toYaml (fromYaml (.Files.Get (printf "fastly-prometheus-exporter-values-%s.yaml" .Values.govukEnvironment))) }}
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: fastly-exporter
  namespace: {{ .Values.argoNamespace | default .Release.Namespace }}
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    {{- include "monitoring-config.helm-release"
        ( merge (deepCopy .) (dict "repoURL" "https://prometheus-community.github.io/helm-charts" "chart" "prometheus-fastly-exporter") )
        | nindent 4 }}
    helm:
      values: |
        {{ $envValues | nindent 8 }}
        existingSecret:
          name: "fastly-prometheus-exporter"
          key: "fastly-api-token"
        serviceMonitor:
          enabled: true
        resources:
          requests:
            cpu: 50m
            memory: 256Mi
          limits:
            cpu: 200m
            memory: 512Mi
  destination:
    server: https://kubernetes.default.svc
    namespace: {{ .Values.monitoringNamespace }}
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - ApplyOutOfSyncOnly=true
{{- end }}
