apiVersion: argoproj.io/v1alpha1
kind: WorkflowTemplate
metadata:
  name: notify-slack
spec:
  entrypoint: notify-slack
  arguments:
    parameters:
      - name: slackChannel
      - name: text
      - name: blocks
        description: "Provide advanced formatting for a message using Slack's Block Kit"
        default: ""
  templates:
    - name: notify-slack
      inputs:
        parameters:
        - name: slackChannel
        - name: text
        - name: blocks
      container:
        image: curlimages/curl
        command:
          - "curl"
          - "--json"
          # The double template tags {{"{{}}"}} is because Helm and Argo
          # use the same templating syntax.
          - >-
              {
                "channel": "#{{"{{inputs.parameters.slackChannel}}"}}",
                "username": "Argo Workflows",
                "text": "{{"{{inputs.parameters.text}}"}}",
                {{`{{= inputs.parameters.blocks != "" ? "\"blocks\": " + inputs.parameters.blocks + "," : "" }}`}}
                "icon_emoji": ":argo:"
              }
          - "$(SLACK_WEBHOOK_ENDPOINT)"
        env:
          - name: SLACK_WEBHOOK_ENDPOINT
            valueFrom:
              secretKeyRef:
                name: slack-webhook-url
                key: url
