{{- if .Values.uploadAssets.enabled -}}
{{- $destDir := .Values.uploadAssets.s3Directory | default .Values.repoName }}
{{- $sourcePath := .Values.uploadAssets.path | default (printf "/app/public/assets/%s" .Values.repoName) }}
{{- $fullName := include "generic-govuk-app.fullname" . }}
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ $fullName }}-upload-assets
  labels:
    {{- include "generic-govuk-app.labels" . | nindent 4 }}
    app.kubernetes.io/component: upload-assets
  annotations:
    argocd.argoproj.io/hook: PreSync
spec:
  activeDeadlineSeconds: 900
  backoffLimit: 2
  template:
    spec:
      automountServiceAccountToken: false
      enableServiceLinks: false
      securityContext:
        runAsNonRoot: {{ .Values.securityContext.runAsNonRoot }}
        runAsUser: {{ .Values.securityContext.runAsUser }}
        runAsGroup: {{ .Values.securityContext.runAsGroup }}
      initContainers:
        - name: copy-assets-for-upload
          image: "{{ .Values.appImage.repository }}:{{ required "Valid .Values.appImage.tag required!" .Values.appImage.tag }}"
          imagePullPolicy: {{ .Values.appImage.pullPolicy | default "Always" }}
          command:
            - sh
            - -c
            - "cp -R {{ $sourcePath }}/* /assets-to-upload"
          volumeMounts: &volumeMounts
            - name: assets-to-upload
              mountPath: /assets-to-upload
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
      containers:
        - name: upload-assets
          image: 172025368201.dkr.ecr.eu-west-1.amazonaws.com/github-cli:latest
          command:
            - aws
            - s3
            - sync
            - /assets-to-upload
            - "{{- printf "s3://govuk-app-assets-%s/assets/%s/" .Values.govukEnvironment $destDir }}"
          {{- with .Values.jobResources }}
          resources:
            {{- . | toYaml | trim | nindent 12 }}
          {{- end }}
          volumeMounts: *volumeMounts
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
      restartPolicy: Never
      volumes:
        - name: assets-to-upload
          emptyDir: {}
{{- end }}
