{{- if .Values.nginxConfigMap.create }}
{{- $fullName := include "generic-govuk-app.fullname" . }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ $fullName }}-nginx-conf
  labels:
    {{- include "generic-govuk-app.labels" . | nindent 4 }}
    app: {{ $fullName }}
    app.kubernetes.io/name: {{ $fullName }}
    app.kubernetes.io/component: nginx
data:
  nginx.conf: |-
    error_log  /dev/stderr warn;
    pid        /tmp/nginx.pid;

    events {
      worker_connections  4096;
    }

    http {
      include       /etc/nginx/mime.types;
      default_type  application/octet-stream;

      client_body_temp_path /tmp/client_temp;
      proxy_temp_path       /tmp/proxy_temp_path;
      fastcgi_temp_path     /tmp/fastcgi_temp;
      uwsgi_temp_path       /tmp/uwsgi_temp;
      scgi_temp_path        /tmp/scgi_temp;

      proxy_buffer_size 16k;  # Max total size of response headers.
      # n * m = max response size before spooling to disk. p95 response size should
      # fit comfortably within this in order to avoid performance issues.
      proxy_buffers 24 16k;

      server_tokens off;

      sendfile        on;
      keepalive_timeout  65;

      # Set GOVUK-Request-Id if not set
      map $http_govuk_request_id $govuk_request_id {
        default $http_govuk_request_id;
        ''      "$pid-$msec-$remote_addr-$request_length";
      }

      # Default values for response headers. These values are used when the
      # header is not already set on the incoming response.
      # https://serverfault.com/a/598106
      map $upstream_http_strict_transport_security $strict_transport_security {
        "" "max-age=31536000; preload";
      }
      map $upstream_http_permissions_policy $permissions_policy {
        "" "interest-cohort=()";
      }
      map $upstream_http_x_content_type_options $x_content_type_options {
        "" "nosniff";
      }

      log_format json_event escape=json '{'
        '"@timestamp":"$time_iso8601",'
        '"body_bytes_sent":$body_bytes_sent,'
        '"bytes_sent":$bytes_sent,'
        '"govuk_request_id":"$govuk_request_id",'
        '"http_host":"$http_host",'
        '"http_referer":"$http_referer",'
        '"http_user_agent":"$http_user_agent",'
        '"http_x_forwarded_for":"$http_x_forwarded_for",'
        '"remote_addr":"$remote_addr",'
        '"remote_user":"$remote_user",'
        '"request_method":"$request_method",'
        '"request_time":$request_time,'
        '"request_uri":"$request_uri",'
        '"sent_http_content_type":"$sent_http_content_type",'
        '"sent_http_location":"$sent_http_location",'
        '"server_protocol":"$server_protocol",'
        '"status":$status,'
        '"upstream_addr":"$upstream_addr",'
        '"upstream_response_time":"$upstream_response_time"'
      '}';

      {{- if .Values.nginxConfigMap.extraHttpConf }}
      {{ .Values.nginxConfigMap.extraHttpConf | nindent 4 }}
      {{- end }}

      upstream {{ $fullName }} {
        server 127.0.0.1:{{ .Values.appPort }};
      }

      server {
        listen {{ .Values.nginxPort }};
        proxy_connect_timeout {{ .Values.nginxProxyConnectTimeout }};
        proxy_read_timeout    {{ .Values.nginxProxyReadTimeout }};

        access_log /dev/stdout json_event;
        error_log /dev/stderr;

        # Where the response header is already set on the incoming response,
        # these are no-ops. https://serverfault.com/a/598106
        add_header Strict-Transport-Security $strict_transport_security;
        add_header Permissions-Policy $permissions_policy;
        add_header X-Content-Type-Options $x_content_type_options always;

        {{- if ( or (ne .Values.govukEnvironment "production") (eq .Values.nginxDenyCrawlers true ) ) }}
        add_header X-Robots-Tag "noindex";
        {{- end }}

        location / {
          proxy_set_header   Host $http_host;
          proxy_set_header   X-Real-IP $remote_addr;
          proxy_set_header GOVUK-Request-Id $govuk_request_id;
          proxy_pass         http://{{ $fullName }};
          proxy_redirect     off;
          client_max_body_size {{ .Values.nginxClientMaxBodySize }};
        }

{{- if .Values.proxyRailsAssetsToS3 }}
        location /assets {
          proxy_set_header   Authorization "";
          proxy_set_header   Connection "";
          proxy_set_header   X-Real-IP $remote_addr;  # TODO: pass the actual end-client address
          proxy_hide_header  x-amz-id-2;
          proxy_hide_header  x-amz-meta-server-side-encryption;
          proxy_hide_header  x-amz-request-id;
          proxy_hide_header  x-amz-server-side-encryption;
          proxy_hide_header  x-amz-version-id;
          add_header         Cache-Control "public, max-age=31536000, immutable";
          add_header         Surrogate-Key "assets assets-{{ $fullName }}";

          proxy_intercept_errors on;
          proxy_pass         https://govuk-app-assets-{{ .Values.govukEnvironment }}.s3.eu-west-1.amazonaws.com;

          # Set CORS allow origin for fonts only
          location ~* \.(eot|otf|ttf|woff|woff2)$ {
            add_header Access-Control-Allow-Origin "*";
            add_header Access-Control-Allow-Methods "GET, OPTIONS";
            add_header Access-Control-Allow-Headers "origin, authorization";
            proxy_pass https://govuk-app-assets-{{ .Values.govukEnvironment }}.s3.eu-west-1.amazonaws.com;
          }
        }
{{- end }}

        # Endpoint that isn't cached, which is used to assert that an external
        # service can receive a response from GOV.UK origin on www hostname. It
        # is intended for pingdom monitoring
        location = /__canary__ {
          default_type application/json;
          add_header cache-control "max-age=0,no-store,no-cache";
          return 200 '{"message": "Tweet tweet"}\n';
        }

        # Endpoint for liveness and readiness checks of the nginx container.
        location = /readyz {
          return 200 'ok\n';
        }
        {{- if .Values.nginxConfigMap.extraServerConf }}
        {{ .Values.nginxConfigMap.extraServerConf | nindent 8 }}
        {{- end }}
      }
    }
{{- end }}
