{{ if .Values.redis.enabled }}
{{- $fullName := include "generic-govuk-app.fullname" . }}
apiVersion: v1
kind: Service
metadata:
  name: {{ $fullName }}-redis
  labels:
    app: {{ $fullName }}-redis
    app.kubernetes.io/name: {{ $fullName }}-redis
    app.kubernetes.io/component: redis
spec:
  type: NodePort
  ports:
    - name: redis
      port: 6379
      targetPort: 6379
  selector:
    app: {{ $fullName }}-redis
    app.kubernetes.io/component: redis
{{ end }}
