{{ if .Values.redis.enabled }}
{{- $fullName := include "generic-govuk-app.fullname" . }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ $fullName }}-redis-conf
  labels:
    {{- include "generic-govuk-app.labels" . | nindent 4 }}
    app: {{ $fullName }}
    app.kubernetes.io/name: {{ $fullName }}
    app.kubernetes.io/component: redis
data:
  redis.conf: |-
    bind 0.0.0.0
    port 6379

    protected-mode no

    daemonize no

    # Use AOF for persistence
    dir /data
    appendonly yes
    save ""
{{ end }}
