{{- $fullName := include "generic-govuk-app.fullname" . }}
apiVersion: v1
kind: Service
metadata:
  name: {{ $fullName }}
  labels:
    app: {{ $fullName }}
    app.kubernetes.io/name: {{ $fullName }}
    app.kubernetes.io/component: app
{{ if .Values.service.annotations }}
  annotations:
    {{- range $key, $value := .Values.service.annotations }}
    {{ $key }}: {{ $value }}
    {{- end }}
{{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - name: app
      port: {{ .Values.service.port }}
      targetPort: {{ .Values.nginxPort }}
  selector:
    app: {{ $fullName }}
    app.kubernetes.io/component: app
