{{- if .Values.transitionConfigEnabled -}}
{{- $fullName := include "generic-govuk-app.fullname" . }}
---
apiVersion: batch/v1
kind: CronJob
metadata:
  name: {{ $fullName }}-config-cron
  labels:
    {{- include "generic-govuk-app.labels" $ | nindent 4 }}
    app: {{ $fullName }}-config-cron
    app.kubernetes.io/name: {{ $fullName }}-config-cron
    app.kubernetes.io/component: config-cron
spec:
  schedule: "00 09-19 * * 1-5"
  jobTemplate:
    metadata:
      name: {{ $fullName }}-config-cron
      labels:
        {{- include "generic-govuk-app.labels" $ | nindent 8 }}
        app.kubernetes.io/component: config-cron
    spec:
      backoffLimit: 0
      template:
        metadata:
          name: {{ $fullName }}-config-cron
          labels:
            {{- include "generic-govuk-app.labels" $ | nindent 12 }}
            app.kubernetes.io/component: config-cron
        spec:
          automountServiceAccountToken: false
          enableServiceLinks: false
          securityContext:
            fsGroup: &old-ec2-deploy-uid 2899
            runAsNonRoot: {{ $.Values.securityContext.runAsNonRoot }}
            runAsUser: *old-ec2-deploy-uid
            runAsGroup: *old-ec2-deploy-uid
          restartPolicy: Never
          volumes:
            - name: tmp
              emptyDir: {}
            {{- with $.Values.extraVolumes }}
              {{- . | toYaml | trim | nindent 12 }}
            {{- end }}
          initContainers:
            - name: clone-transition-config-repo
              image: 172025368201.dkr.ecr.eu-west-1.amazonaws.com/github-cli:latest
              command:
                - sh
                - -c
                - "[ -d transition-config ] && \
                   cd transition-config && \
                   [ -d .git ] && git pull || \
                   git clone --depth=1 https://github.com/alphagov/transition-config transition-config"
              securityContext:
                allowPrivilegeEscalation: false
                readOnlyRootFilesystem: true
              volumeMounts:
                - name: transition-config-efs
                  mountPath: /home/user
          containers:
            - name: update-transition-config
              image: "{{ $.Values.appImage.repository }}:{{ $.Values.appImage.tag }}"
              imagePullPolicy: {{ $.Values.appImage.pullPolicy | default "Always" }}
              command: ['rake', 'import:all:organisations']
              envFrom:
                - configMapRef:
                    name: govuk-apps-env
              env:
                - name: SECRET_KEY_BASE
                  value: unused_for_cron_but_still_required
                {{- if $.Values.sentry.enabled }}
                - name: SENTRY_DSN
                  valueFrom:
                    secretKeyRef:
                      name: {{ $.Values.repoName }}-sentry
                      key: dsn
                - name: SENTRY_RELEASE
                  value: "{{ $.Values.appImage.tag }}"
                {{- end }}
                {{- with $.Values.extraEnv }}
                  {{- (tpl (toYaml .) $) | trim | nindent 16 }}
                {{- end }}
              {{- with $.Values.appResources }}
              resources:
                {{- . | toYaml | trim | nindent 16 }}
              {{- end }}
              volumeMounts:
                - name: tmp
                  mountPath: /tmp
                - name: transition-config-efs
                  mountPath: /app/data
              securityContext:
                allowPrivilegeEscalation: false
                readOnlyRootFilesystem: true
{{- end }}
