{{- if .Values.workerEnabled -}}
{{- $fullName := include "generic-govuk-app.fullname" . }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ $fullName }}-worker
  labels:
    {{- include "generic-govuk-app.labels" . | nindent 4 }}
    app: {{ $fullName }}-worker
    app.kubernetes.io/name: {{ $fullName }}-worker
    app.kubernetes.io/component: worker
spec:
  replicas: {{ .Values.workerReplicaCount }}
  revisionHistoryLimit: 2
  selector:
    matchLabels:
      app: {{ $fullName }}-worker
  template:
    metadata:
      labels:
        {{- include "generic-govuk-app.labels" . | nindent 8 }}
        app: {{ $fullName }}-worker
        app.kubernetes.io/name: {{ $fullName }}-worker
        app.kubernetes.io/component: worker
    spec:
      automountServiceAccountToken: false
      enableServiceLinks: false
      securityContext:
        seccompProfile:
          type: RuntimeDefault
        fsGroup: {{ .Values.securityContext.runAsGroup }}
        runAsNonRoot: {{ .Values.securityContext.runAsNonRoot }}
        runAsUser: {{ .Values.securityContext.runAsUser }}
        runAsGroup: {{ .Values.securityContext.runAsGroup }}
      {{- with .Values.dnsConfig }}
      dnsConfig:
        {{- . | toYaml | trim | nindent 8 }}
      {{- end }}
      volumes:
        - name: app-tmp
          emptyDir: {}
        {{- with .Values.extraVolumes }}
          {{- . | toYaml | trim | nindent 8 }}
        {{- end }}
      containers:
        {{- range .Values.workers }}
        - name: {{ .name }}
          image: "{{ $.Values.appImage.repository }}:{{ $.Values.appImage.tag }}"
          imagePullPolicy: {{ $.Values.appImage.pullPolicy | default "Always" }}
          command:
            {{- .command | toYaml | nindent 12 }}
          ports:
            - name: metrics
              containerPort: {{ $.Values.metricsPort }}
          envFrom:
            - configMapRef:
                name: govuk-apps-env
          env:
            {{- if $.Values.rails.enabled }}
            - name: SECRET_KEY_BASE
              valueFrom:
                secretKeyRef:
                  name: {{ $.Values.repoName }}-rails-secret-key-base
                  key: secret-key-base
            {{- end }}
            {{- if $.Values.sentry.enabled }}
            - name: SENTRY_DSN
              valueFrom:
                secretKeyRef:
                  name: {{ $.Values.repoName }}-sentry
                  key: dsn
            - name: SENTRY_RELEASE
              value: "{{ $.Values.appImage.tag }}"
            {{- end }}
            {{- if $.Values.redis.enabled }}
            - name: REDIS_URL
              value: {{ $.Values.redis.redisUrlOverride.workers | default (printf "redis://%s-redis" $fullName) }}
            {{- end }}
            {{- with $.Values.extraEnv }}
              {{- (tpl (toYaml .) $) | trim | nindent 12 }}
            {{- end }}
          {{- with $.Values.workerResources }}
          resources:
            {{- . | toYaml | trim | nindent 12 }}
          {{- end }}
          securityContext:
            allowPrivilegeEscalation: {{ $.Values.securityContext.allowPrivilegeEscalation }}
            readOnlyRootFilesystem: true
            capabilities:
              drop: ["ALL"]
          volumeMounts:
            - name: app-tmp
              mountPath: /tmp
            {{- with $.Values.appExtraVolumeMounts }}
              {{- . | toYaml | trim | nindent 12 }}
            {{- end }}
        {{- end }}
      {{- if eq "arm64" .Values.arch }}
      tolerations:
        - key: arch
          operator: Equal
          value: {{ .Values.arch }}
          effect: NoSchedule
      nodeSelector:
        kubernetes.io/arch: {{ .Values.arch }}
      {{- end }}
{{- end }}
