apiVersion: argoproj.io/v1alpha1
kind: WorkflowTemplate
metadata:
  name: post-sync
spec:
  entrypoint: handle-sync-event
  onExit: exit-handler
  retryStrategy:
    limit: "3"
    expression: "asInt(lastRetry.exitCode) > 1"
  arguments:
    parameters:
      - name: application
      - name: commitSha
      - name: argoUrl
      - name: slackChannel
      - name: repoName
      - name: imageTag
  templates:
    - name: handle-sync-event
      dag:
        tasks:
          - name: smoke-test
            templateRef:
              name: smoke-test
              template: smoke-test
            arguments:
              parameters:
                - name: extra-args
                  value: "{{" and @app-{{workflow.parameters.application}}"}}"
          {{ if .Values.nextEnvironment }}
          - name: promote-release
            depends: smoke-test.Succeeded
            when: "{{"'{{workflow.parameters.application}}' !~ '^draft-'"}}"
            template: send-webhook
            arguments:
              parameters:
                - name: environment
                  value: "{{ .Values.nextEnvironment }}"
                - name: repoName
                  value: "{{"{{workflow.parameters.repoName}}"}}"
                - name: imageTag
                  value: "{{"{{workflow.parameters.imageTag}}"}}"
                - name: manualDeploy
                  value: "false"
          {{- end }}

    - name: send-webhook
      inputs:
        parameters:
        - name: environment
        - name: repoName
        - name: imageTag
        - name: manualDeploy
      script:
        image: curlimages/curl
        command:
          - sh
        source: >
          curl -s "${WEBHOOK_URL}/update-image-tag" \
            -H "Authorization: Bearer ${WEBHOOK_TOKEN}" \
            --json '{
              "environment": "{{"{{inputs.parameters.environment}}"}}",
              "repoName": "{{"{{inputs.parameters.repoName}}"}}",
              "imageTag": "{{"{{inputs.parameters.imageTag}}"}}",
              "manualDeploy": "{{"{{inputs.parameters.manualDeploy}}"}}"
            }'
        env:
          - name: WEBHOOK_TOKEN
            valueFrom:
              secretKeyRef:
                name: deploy-image-webhook-endpoint
                key: token
          - name: WEBHOOK_URL
            valueFrom:
              secretKeyRef:
                name: deploy-image-webhook-endpoint
                key: url

    - name: exit-handler
      steps:
        - - name: notify-slack
            when: "{{"{{workflow.status}}"}} != Succeeded"
            templateRef:
              name: notify-slack
              template: notify-slack
            arguments:
              parameters:
                - name: slackChannel
                  # NOTE: Change to {{"{{workflow.parameters.slackChannel}}"}} to
                  # send to team slack channel.
                  value: "govuk-deploy-alerts"
                - name: text
                  value: "Post sync workflow for {{"{{workflow.parameters.application}}"}} in {{ .Values.govukEnvironment }} has {{"{{= sprig.lower(workflow.status) }}"}}."
                - name: blocks
                  value: |
                    [{
                      "type": "section",
                      "text": {
                          "type": "mrkdwn",
                          "text": "Post sync workflow for {{"{{workflow.parameters.application}}"}} in {{ .Values.govukEnvironment }} has {{"{{= sprig.lower(workflow.status) }}"}}."
                      },
                      "accessory": {
                        "type": "button",
                        "text": {
                            "type": "plain_text",
                            "text": "View workflow",
                            "emoji": true
                        },
                        "url": "https://argo-workflows.eks.{{ .Values.govukEnvironment }}.govuk.digital/workflows/apps/{{"{{ workflow.name }}"}}",
                        "action_id": "view-workflow"
                      }
                    }]
