apiVersion: v1
kind: ConfigMap
metadata:
  name: licensify-logging-config
  labels:
    {{- include "licensify.labels" . | nindent 4 }}
data:
  logging.xml: |
    <?xml version="1.0" encoding="UTF-8"?>
    <configuration>
        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
        </appender>
        <logger name="application" level="WARN"/>
        <logger name="akka" level="WARN"/>
        <logger name="play" level="WARN"/>
        <logger name="uk.gov" level="WARN"/>
        <root level="WARN">
            <appender-ref ref="STDOUT"/>
        </root>
    </configuration>
