apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: publishing-api-bigquery
  labels:
    {{- include "external-secrets.labels" . | nindent 4 }}
  annotations:
    kubernetes.io/description: >
      Credentials for a GCP service account to communicate with BigQuery. Field names are "project-id" for the project ID to use, "client-email" for the service account's email, and "client-secret" for the private key used to access the endpoint
spec:
  refreshInterval: {{ .Values.externalSecrets.refreshInterval }}
  secretStoreRef:
    name: aws-secretsmanager
    kind: ClusterSecretStore
  target:
    name: publishing-api-bigquery
  dataFrom:
    - extract:
        key: govuk/publishing-api/bigquery
