apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: rules
  namespace: monitoring
  labels:
    app: monitoring-config
spec:
  groups:
{{- range $path, $_ := .Files.Glob "rules/*.yaml" }}
{{- if not (hasSuffix "_tests.yaml" $path) }}
  # {{ $path }}
  {{- $.Files.Get $path | replace "groups:\n" "" | nindent 2  }}
{{ end }}
{{ end }}
{{- range $path, $_ := .Files.Glob (printf "rules/%s/*.yaml" $.Values.govukEnvironment) }}
{{- if not (hasSuffix "_tests.yaml" $path) }}
  # {{ $path }}
  {{- $.Files.Get $path | replace "groups:\n" "" | nindent 2  }}
{{ end }}
{{ end }}
