apiVersion: argoproj.io/v1alpha1
kind: WorkflowTemplate
metadata:
  name: set-automatic-deploys-enabled
spec:
  entrypoint: set-automatic-deploys-enabled
  arguments:
    parameters:
      - name: environment
      - name: repoName
      - name: automaticDeploysEnabled
  templates:
    - name: set-automatic-deploys-enabled
      inputs:
        parameters:
          - name: environment
          - name: repoName
          - name: automaticDeploysEnabled
            default: "true"
      script:
        image: 172025368201.dkr.ecr.eu-west-1.amazonaws.com/github/alphagov/govuk/toolbox:latest
        command: [/bin/bash]
        env:
          - name: GIT_NAME
            valueFrom:
              secretKeyRef:
                name: govuk-ci-github-creds
                key: username
          - name: GITHUB_TOKEN
            valueFrom:
              secretKeyRef:
                name: govuk-ci-github-creds
                key: token
          - name: ENVIRONMENT
            value: "{{"{{inputs.parameters.environment}}"}}"
          - name: REPO_NAME
            value: "{{"{{inputs.parameters.repoName}}"}}"
          - name: AUTOMATIC_DEPLOYS_ENABLED
            value: "{{"{{inputs.parameters.automaticDeploysEnabled}}"}}"
        source: |
          {{- .Files.Get "scripts/set-automatic-deploys-enabled.sh" | nindent 14 }}
  podSpecPatch: |
    containers:
      - resources:
          limits:
            cpu: 1
            memory: 1Gi
          requests:
            cpu: 500m
            memory: 512Mi
