groups:
  - name: ChatAI
    rules:
      - alert: High5xxRate
        expr: >-
          sum(rate(http_requests_total{
            job="govuk-chat",
            status=~"5..",
            status!~"503"
          }[60m]))
          /
          (sum(rate(http_requests_total{
            job="govuk-chat"
          }[60m])) / 100)
          > 10
        for: 5m
        labels:
          severity: page
        annotations:
          summary: Elevated rate of 5xx return codes for Chat AI
          description: >-
            The rate of http 5xx return codes is above 10% of total requests
            for more than 5 minutes.
          runbook_url: >-
            https://docs.publishing.service.gov.uk/manual/alerts/chat-ai-alerts.html

      - alert: LongRequestDuration
        expr: >-
          quantile(0.75,
            sum(rate(http_request_duration_seconds_sum{
              job="govuk-chat"
            }[60m]))
            /
            sum(rate(http_request_duration_seconds_count{
              job="govuk-chat"
            }[60m]))
          )
          > 1
        for: 5m
        labels:
          severity: critical
          destination: slack-chat-notifications
        annotations:
          summary: Elevated HTTP request duration for Chat AI
          description: >-
            75th percentile HTTP request duration over 1 second for more than 5 minutes.
          runbook_url: >-
            https://docs.publishing.service.gov.uk/manual/alerts/chat-ai-alerts.html

      - alert: HighPodCPUFE
        expr: >-
          sum(node_namespace_pod_container:container_cpu_usage_seconds_total:sum_irate{
            pod=~"govuk-chat-........*-.....",
            container=~"app|nginx"
          }) by(container)
          > 0.8
        for: 5m
        labels:
          severity: critical
          destination: slack-chat-notifications
        annotations:
          summary: Elevated level of FE Pod CPU being consumed for Chat AI
          description: >-
            The FE Pod CPU usage is above 80% for a container for more than 5 minutes.
          runbook_url: >-
            https://docs.publishing.service.gov.uk/manual/alerts/chat-ai-alerts.html

      - alert: HighPodCPUWorker
        expr: >-
          sum(node_namespace_pod_container:container_cpu_usage_seconds_total:sum_irate{
            pod=~"govuk-chat-worker-.*",
            container=~"published-documents-consumer|worker"
          }) by (container)
          > 0.8
        for: 5m
        labels:
          severity: critical
          destination: slack-chat-notifications
        annotations:
          summary: Elevated level of Worker Pod CPU being consumed for Chat AI
          description: >-
            The Worker Pod CPU usage is above 80% for a container for more than 5 minutes.
          runbook_url: >-
            https://docs.publishing.service.gov.uk/manual/alerts/chat-ai-alerts.html

      - alert: HighPodMemoryFE
        expr: >-
          avg(container_memory_working_set_bytes{
            job="kubelet",
            metrics_path="/metrics/cadvisor",
            pod=~"govuk-chat-........*-.....",
            container=~"app|nginx"
          }) by(container)
          > 1.6 * 1024 * 1024 * 1024
        for: 5m
        labels:
          severity: critical
          destination: slack-chat-notifications
        annotations:
          summary: Elevated level of FE Pod Memory being consumed for Chat AI
          description: >-
            The FE Pod Memory usage is above 80% for a container for more than 5 minutes.
          runbook_url: >-
            https://docs.publishing.service.gov.uk/manual/alerts/chat-ai-alerts.html

      - alert: HighPodMemoryWorker
        expr: >-
          avg(container_memory_working_set_bytes{
            job="kubelet",
            metrics_path="/metrics/cadvisor",
            pod=~"govuk-chat-worker-.*",
            container=~"published-documents-consumer|worker"
          }) by (container)
          > 1.6 * 1024 * 1024 * 1024
        for: 5m
        labels:
          severity: critical
          destination: slack-chat-notifications
        annotations:
          summary: Elevated level of Worker Pod Memory being consumed for Chat AI
          description: >-
            The Worker Pod Memory usage is above 80% for a container for more than 5 minutes.
          runbook_url: >-
            https://docs.publishing.service.gov.uk/manual/alerts/chat-ai-alerts.html

      - alert: NearTokensRateLimit
        expr: >-
          govuk_chat_openai_tokens_used_percentage > 80
        labels:
          severity: warning
          destination: slack-chat-notifications
        annotations:
          summary: Exceeded 80% of OpenAI token rate limit
          description: >-
            Over 80% of tokens have been used for {{ $labels.model }} on the
            {{ $labels.exported_endpoint }} endpoint.
          runbook_url: >-
            https://docs.publishing.service.gov.uk/manual/alerts/chat-ai-alerts.html

      - alert: NearRequestsRateLimit
        expr: >-
          govuk_chat_openai_requests_used_percentage > 80
        labels:
          severity: warning
          destination: slack-chat-notifications
        annotations:
          summary: Exceeded 80% of OpenAI requests rate limit
          description: >-
            Over 80% of requests have been used for {{ $labels.model }} on the
            {{ $labels.exported_endpoint }} endpoint.
          runbook_url: >-
            https://docs.publishing.service.gov.uk/manual/alerts/chat-ai-alerts.html

      - alert: SidekiqAnswerQueueLength
        expr: >-
          max(sidekiq_queue_backlog{
            job=~"govuk-chat-worker", queue="answer"
          }) by (job, queue)
          > 50
        for: 5m
        labels:
          severity: critical
          destination: slack-chat-notifications
        annotations:
          summary: Sidekiq Answer Queue Length High
          description: >-
            The Sidekiq answer queue length has been over 50 items for more than 5 minutes.
            Autoscaling should have taken place, so check if the maximum number of
            worker pods are running.
          runbook_url: >-
            https://docs.publishing.service.gov.uk/manual/alerts/chat-ai-alerts.html

      - alert: SidekiqAnswerJobAge
        expr: >-
          max(sidekiq_queue_latency_seconds{
            job=~"govuk-chat-worker", queue="answer"
          }) by (job, queue)
          > 900
        for: 5m
        labels:
          severity: critical
          destination: slack-chat-notifications
        annotations:
          summary: Sidekiq Answer Queue Items Over 15 Minutes Old
          description: >-
            Some Sidekiq items in the answer queue are over 15 minutes old. Check to see
            if some items have got stuck or if there is a problem processing items
            causing the delay.
          runbook_url: >-
            https://docs.publishing.service.gov.uk/manual/alerts/chat-ai-alerts.html

      - alert: SidekiqDefaultJobAge
        expr: >-
          max(sidekiq_queue_latency_seconds{
            job=~"govuk-chat-worker", queue="default"
          }) by (job, queue)
          > 21600
        for: 5m
        labels:
          severity: critical
          destination: slack-chat-notifications
        annotations:
          summary: Sidekiq Default Queue Items Over Six Hours Old
          description: >-
            Some Sidekiq items in the default queue are over six hours old. Check to see
            if some items have got stuck or if there is a problem processing items
            causing the delay.
          runbook_url: >-
            https://docs.publishing.service.gov.uk/manual/alerts/chat-ai-alerts.html

      - alert: ElevatedAnswerErrorStatuses
        expr: >-
          sum(
            rate(
              govuk_chat_answer_count{
                status=~"error_.*"
              }[20m]
            )
          ) >= (3 / 1200)
        labels:
          severity: critical
          destination: slack-chat-notifications
        annotations:
          summary: High rate of error statuses from Chat AI answers
          description: >-
            Three or more answers generated in the last 20 minutes have an error status.
          runbook_url: >-
            https://docs.publishing.service.gov.uk/manual/alerts/chat-ai-alerts.html
