groups:
  - name: MirrorAlerts
    rules:
      - record: global:govuk_mirror_freshness_seconds
        expr: |
          time() - max(govuk_mirror_last_updated_time{job="mirror_metrics"})

      - alert: MirrorFreshnessAlert
        expr: |
          global:govuk_mirror_freshness_seconds > 172800
        labels:
          severity: warning
        annotations:
          summary: Mirror freshness has exceeded two days
          description: >-
            The mirror hasn't been updated in more than two days
