rule_files:
  - mirrors.yaml

evaluation_interval: 1m

tests:
  - interval: 1m
    input_series:
      - series: 'govuk_mirror_last_updated_time{job="mirror_metrics"}'
        values: '0x21600'

    promql_expr_test:
      - expr: |
          time() - max(govuk_mirror_last_updated_time{job="mirror_metrics"})
        eval_time: 6h0m
        exp_samples:
          - value: 21600

  - interval: 1m
    input_series:
      - series: 'govuk_mirror_last_updated_time{job="mirror_metrics"}'
        values: '0x176400'

    alert_rule_test:
      - eval_time: 48h30m  # 48 hours and 30 minutes later
        alertname: MirrorFreshnessAlert
        exp_alerts:
          - exp_labels:
              severity: warning
            exp_annotations:
              summary: Mirror freshness has exceeded two days
              description: The mirror hasn't been updated in more than two days
