groups:
- name: RouterAlerts
  rules:
  - alert: RouterBackendHandlerResponse5xxErrorRate
    expr: sum(rate(router_backend_handler_response_duration_seconds_count{response_code=~"^5..", namespace="apps", job="router"}[5m])) / sum(rate(router_backend_handler_response_duration_seconds_count{namespace="apps", job="router"}[5m])) > 0.1
    for: 10m
    labels:
        severity: page
    annotations:
        summary: "High 5xx error rate for router"
        description: "router has high 5xx error rate for more than 10 minutes."
