groups:
  - name: RouterAlerts
    rules:
      - record: global:router_requests:rate5m
        expr: |
          sum by (job, backend_id, response_code) (
            rate(router_backend_handler_response_duration_seconds_count{namespace="apps"}[5m])
          )

      - record: global:router_5xx_responses_per_request_by_backend:ratio_rate5m
        expr: |2
            sum without (response_code) (global:router_requests:rate5m{response_code=~"5.."})
          /
            sum without (response_code) (global:router_requests:rate5m)

      - record: global:router_5xx_responses_per_request:ratio_rate5m
        expr: |2
            sum without (backend_id, response_code) (
              global:router_requests:rate5m{response_code=~"5.."}
            )
          /
            sum without (backend_id, response_code) (global:router_requests:rate5m)

      - alert: RouterErrorRatioTooHigh
        expr: |2
            global:router_5xx_responses_per_request:ratio_rate5m{job="router"} > 0.1
          and
            sum without (backend_id, response_code) (
              global:router_requests:rate5m{job="router"}
            ) > 1
        for: 10m
        labels:
          severity: page
        annotations:
          summary: Router error ratio too high
          description: >-
            More than 10% of HTTP responses from Router were 500-series errors for 10 minutes.
