groups:
  - name: SearchApiV2AcuteMetrics
    interval: 1m
    rules:
      - record: search_api_v2:vertex_search_response_times_p90:rate5m
        expr: |
          histogram_quantile(0.9, sum by(le) (
            rate(
              search_api_v2_vertex_search_request_duration_bucket[5m]
            )
          )
          )
      - record: search_api_v2:search_requests:rate5m
        expr: |
          sum by (status) (
            rate(
              http_requests_total{
                namespace="apps",
                job="search-api-v2",
                controller="searches"
              }[5m]
            )
          )
      - record: search_api_v2:autocomplete_requests:rate5m
        expr: |
          sum by (status) (
            rate(
              http_requests_total{
                namespace="apps",
                job="search-api-v2",
                controller="autocompletes"
              }[5m]
            )
          )
      - record: search_api_v2:search_successful_requests:ratio_rate5m
        expr: |
          (
            sum (search_api_v2:search_requests:rate5m{status="200"})
            /
            sum (search_api_v2:search_requests:rate5m) > 0
          ) or vector(1)
      - record: search_api_v2:autocomplete_successful_requests:ratio_rate5m
        expr: |
          (
            sum (search_api_v2:autocomplete_requests:rate5m{status="200"})
            /
            sum (search_api_v2:autocomplete_requests:rate5m) > 0
          ) or vector(1)
      - alert: HighVertexP90Latency
        expr: search_api_v2:vertex_search_response_times_p90:rate5m > 2
        for: 5m
        labels:
          severity: critical
          destination: slack-search-team
        annotations:
          summary: "High Vertex Search Latency (90th percentile)"
          grafana_path: >-
            d/govuk-search/gov-uk-search?orgId=1&from=now-24h&to=now&timezone=browser
          runbook_url: >-
            https://docs.publishing.service.gov.uk/manual/search-alerts-and-monitoring.html#alertmanager
          description: >-
            Google Vertex search request duration has exceeded 2 seconds for more than 5 minutes.
      - alert: SearchDegradedAcute
        expr: search_api_v2:search_successful_requests:ratio_rate5m < 0.99
        for: 10m
        labels:
          severity: critical
          destination: slack-search-team
        annotations:
          summary: "Search API v2: Degraded search performance (acute)"
          grafana_path: >-
            d/govuk-search/gov-uk-search?orgId=1&from=now-24h&to=now&timezone=browser
          runbook_url: >-
            https://docs.publishing.service.gov.uk/manual/search-alerts-and-monitoring.html#alertmanager
          description: >-
            5 minute rolling success rate for search requests has dropped below 99% for more than 10
            minutes.
      - alert: AutocompleteDegradedAcute
        expr: search_api_v2:autocomplete_successful_requests:ratio_rate5m < 0.9
        for: 10m
        labels:
          severity: warning
          destination: slack-search-team
        annotations:
          summary: "Search API v2: Degraded autocomplete performance (acute)"
          grafana_path: >-
            d/govuk-search/gov-uk-search?orgId=1&from=now-24h&to=now&timezone=browser
          runbook_url: >-
            https://docs.publishing.service.gov.uk/manual/search-alerts-and-monitoring.html#alertmanager
          description: >-
            5 minute rolling success rate for autocomplete requests has dropped below 90% for more
            than 10 minutes.

  - name: SearchApiV2MidMetrics
    interval: 5m
    rules:
      - record: search_api_v2:search_requests:rate1h
        expr: |
          sum by (status) (
            rate(
              http_requests_total{
                namespace="apps",
                job="search-api-v2",
                controller="searches"
              }[1h]
            )
          )
      - record: search_api_v2:search_successful_requests:ratio_rate1h
        expr: |
          (
            sum (search_api_v2:search_requests:rate1h{status="200"})
            /
            sum (search_api_v2:search_requests:rate1h) > 0
          ) or vector(1)
      - alert: SearchDegradedMid
        expr: search_api_v2:search_successful_requests:ratio_rate1h < 0.999
        for: 2h
        labels:
          severity: critical
          destination: slack-search-team
        annotations:
          summary: "Search API v2: Degraded search performance (mid)"
          grafana_path: >-
            d/govuk-search/gov-uk-search?orgId=1&from=now-24h&to=now&timezone=browser
          runbook_url: >-
            https://docs.publishing.service.gov.uk/manual/search-alerts-and-monitoring.html#alertmanager
          description: >-
            1 hour rolling success rate for search requests has dropped below 99.9% for more than 2
            hours.

  - name: SearchApiV2LongMetrics
    interval: 1h
    rules:
      - record: search_api_v2:search_requests:rate24h
        expr: |
          sum by (status) (
            rate(
              http_requests_total{
                namespace="apps",
                job="search-api-v2",
                controller="searches"
              }[24h]
            )
          )
      - record: search_api_v2:search_successful_requests:ratio_rate24h
        expr: |
          (
            sum (search_api_v2:search_requests:rate24h{status="200"})
            /
            sum (search_api_v2:search_requests:rate24h) > 0
          ) or vector(1)
      - alert: SearchDegradedLong
        expr: search_api_v2:search_successful_requests:ratio_rate24h < 0.9999
        for: 24h
        labels:
          severity: critical
          destination: slack-search-team
        annotations:
          summary: "Search API v2: Degraded search performance (long)"
          grafana_path: >-
            d/govuk-search/gov-uk-search?orgId=1&from=now-24h&to=now&timezone=browser
          runbook_url: >-
            https://docs.publishing.service.gov.uk/manual/search-alerts-and-monitoring.html#alertmanager
          description: >-
            24 hour rolling success rate for search requests has dropped below 99.99% for more than 24
            hours.

  - name: SearchApiV2QualityMetrics
    interval: 15m
    rules:
      - record: search_api_v2:quality_metrics:last_binary_recall
        expr: last_over_time(search_api_v2_evaluation_monitoring_recall{top="3", dataset="binary", month="this_month"}[26h])
      - record: search_api_v2:quality_metrics:last_clickstream_ndcg
        expr: last_over_time(search_api_v2_evaluation_monitoring_ndcg{dataset="clickstream", top="10", month="this_month"}[26h])
      - alert: SearchQualityDegradedBinaryRecall
        expr: search_api_v2:quality_metrics:last_binary_recall < 0.90
        labels:
          severity: warning
          destination: slack-search-team
        annotations:
          summary: "Search API v2: Degraded search result quality (binary recall top 3 has dropped)"
          grafana_path: >-
            d/govuk-search/gov-uk-search?orgId=1&from=now-24h&to=now&timezone=browser
          runbook_url: >-
            https://docs.publishing.service.gov.uk/manual/search-alerts-and-monitoring.html#alertmanager
          description: >-
            Top 3 recall for binary query set has dropped below 90%.
      - alert: SearchQualityDegradedBinaryRecall
        expr: search_api_v2:quality_metrics:last_binary_recall < 0.80
        labels:
          severity: critical
          destination: slack-search-team
        annotations:
          summary: "Search API v2: Degraded search result quality (binary recall top 3 is critical)"
          grafana_path: >-
            d/govuk-search/gov-uk-search?orgId=1&from=now-24h&to=now&timezone=browser
          runbook_url: >-
            https://docs.publishing.service.gov.uk/manual/search-alerts-and-monitoring.html#alertmanager
          description: >-
            Top 3 recall for binary query set has dropped below 80%.
      - alert: SearchQualityDegradedClickstreamNDCG
        expr: search_api_v2:quality_metrics:last_clickstream_ndcg < 0.85
        labels:
          severity: warning
          destination: slack-search-team
        annotations:
          summary: "Search API v2: Degraded search result quality (clickstream NDCG top 10 has dropped)"
          grafana_path: >-
            d/govuk-search/gov-uk-search?orgId=1&from=now-24h&to=now&timezone=browser
          runbook_url: >-
            https://docs.publishing.service.gov.uk/manual/search-alerts-and-monitoring.html#alertmanager
          description: >-
            Top 10 NDCG for clickstream query set has dropped below 85%.
      - alert: SearchQualityDegradedClickstreamNDCG
        expr: search_api_v2:quality_metrics:last_clickstream_ndcg < 0.75
        labels:
          severity: critical
          destination: slack-search-team
        annotations:
          summary: "Search API v2: Degraded search result quality (clickstream NDCG top 10 is critical)"
          grafana_path: >-
            d/govuk-search/gov-uk-search?orgId=1&from=now-24h&to=now&timezone=browser
          runbook_url: >-
            https://docs.publishing.service.gov.uk/manual/search-alerts-and-monitoring.html#alertmanager
          description: >-
            Top 10 NDCG for clickstream query set has dropped below 75%.
