rule_files:
  - database_backups_and_syncs_production_only_alerts.yaml

evaluation_interval: 1m

tests:
  - name: Database backup taking a long time - Quicker Databases - No alert when backup completes quick enough
    interval: 1m
    external_labels:
      environment: test
    input_series:
      - series: >-
          db_backup_job_state{
          database_engine="postgres",
          database_instance="release-postgres",
          database_db_name="release_production",
          operation="backup"
          }
        values: '2x5 1x30 2x25'
    alert_rule_test:
      - alertname: Database backup taking a long time - Quicker Databases
        eval_time: 60m
        exp_alerts: []

  - name: Database backup taking a long time - Quicker Databases - Alert when backup has been running for too long
    interval: 1m
    external_labels:
      environment: test
    input_series:
      - series: >-
          db_backup_job_state{
          database_engine="mysql",
          database_instance="release-mysql",
          database_db_name="release_production",
          operation="backup",
          instance="db-backup-release-mysql-12345678-a1b2c"
          }
        values: '2x5 1x65'
      - series: >-
          db_backup_job_state{
          database_engine="postgres",
          database_instance="publishing-api-postgres",
          database_db_name="publishing-api_production",
          operation="backup",
          instance="db-backup-publishing-api-postgres-12345678-a1b2c"
          }
        values: '2x5 1x65'
    alert_rule_test:
      - alertname: Database backup taking a long time - Quicker Databases
        eval_time: 66m
        exp_alerts:
          - exp_labels:
              alertname: Database backup taking a long time - Quicker Databases
              severity: warning
              destination: slack-platform-engineering
              database_engine: mysql
              database_instance: release-mysql
              database_db_name: release_production
              instance: db-backup-release-mysql-12345678-a1b2c
              operation: backup
            exp_annotations:
              summary: Database backup is taking a long time for release-mysql.release_production
              runbook_url: https://docs.publishing.service.gov.uk/manual/govuk-env-sync.html#alerts
              description: >-
                The release_production database in the release-mysql instance has been running its backup
                for a long time.

                You can see a snapshot of the overall status on the Grafana Dashboard:
                https://grafana.eks.test.govuk.digital/d/jfc4fnp/database-backups-and-syncs

                You can see the logs for this job in this Logit search for the pod name:
                <https://kibana.logit.io/s/12345678-abcd-1234-abcd-123456789abc/app/data-explorer/discover#?_a=(discover:(columns:!(message),isDirty:!t,sort:!(!('@timestamp',asc))),metadata:(indexPattern:'filebeat-*',view:discover))&_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:(from:now-1w,to:now))&_q=(filters:!(('$state':(store:appState),meta:(alias:!n,disabled:!f,index:'filebeat-*',key:kubernetes.pod.name,negate:!f,params:(query:db-backup-release-mysql-12345678-a1b2c),type:phrase),query:(match_phrase:(kubernetes.pod.name:db-backup-release-mysql-12345678-a1b2c)))),query:(language:kuery,query:''))|db-backup-release-mysql-12345678-a1b2c>

  - name: Database backup taking a long time - Slower Databases - No alert when backup completes quick enough
    interval: 1m
    external_labels:
      environment: test
    input_series:
      - series: >-
          db_backup_job_state{
          database_engine="postgres",
          database_instance="publishing-api-postgres",
          database_db_name="publishing-api_production",
          operation="backup"
          }
        values: '2x5 1x180 2x100'
    alert_rule_test:
      - alertname: Database backup taking a long time - Slower Databases
        eval_time: 4h10m
        exp_alerts: []

  - name: Database backup taking a long time - Slower Databases - Alert when backup has been running for too long
    interval: 1m
    external_labels:
      environment: test
    input_series:
      - series: >-
          db_backup_job_state{
          database_engine="mysql",
          database_instance="release-mysql",
          database_db_name="release_production",
          operation="backup",
          instance="db-backup-release-mysql-12345678-a1b2c"
          }
        values: '2x5 1x30 2x250'
      - series: >-
          db_backup_job_state{
          database_engine="postgres",
          database_instance="publishing-api-postgres",
          database_db_name="publishing-api_production",
          operation="backup",
          instance="db-backup-publishing-api-postgres-12345678-a1b2c"
          }
        values: '2x5 1x280'
    alert_rule_test:
      - alertname: Database backup taking a long time - Slower Databases
        eval_time: 4h10m
        exp_alerts:
          - exp_labels:
              alertname: Database backup taking a long time - Slower Databases
              severity: warning
              destination: slack-platform-engineering
              database_engine: postgres
              database_instance: publishing-api-postgres
              database_db_name: publishing-api_production
              instance: db-backup-publishing-api-postgres-12345678-a1b2c
              operation: backup
            exp_annotations:
              summary: Database backup is taking a long time for publishing-api-postgres.publishing-api_production
              runbook_url: https://docs.publishing.service.gov.uk/manual/govuk-env-sync.html#alerts
              description: >-
                The publishing-api_production database in the publishing-api-postgres instance has been running its backup
                for a long time.

                You can see a snapshot of the overall status on the Grafana Dashboard:
                https://grafana.eks.test.govuk.digital/d/jfc4fnp/database-backups-and-syncs

                You can see the logs for this job in this Logit search for the pod name:
                <https://kibana.logit.io/s/12345678-abcd-1234-abcd-123456789abc/app/data-explorer/discover#?_a=(discover:(columns:!(message),isDirty:!t,sort:!(!('@timestamp',asc))),metadata:(indexPattern:'filebeat-*',view:discover))&_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:(from:now-1w,to:now))&_q=(filters:!(('$state':(store:appState),meta:(alias:!n,disabled:!f,index:'filebeat-*',key:kubernetes.pod.name,negate:!f,params:(query:db-backup-publishing-api-postgres-12345678-a1b2c),type:phrase),query:(match_phrase:(kubernetes.pod.name:db-backup-publishing-api-postgres-12345678-a1b2c)))),query:(language:kuery,query:''))|db-backup-publishing-api-postgres-12345678-a1b2c>

  - name: Database backup not completed
    interval: 1m
    external_labels:
      environment: test
    start_timestamp: 1753606800  # 27/07/2025 10:00 UTC
    input_series:
      - series: >-
          db_backup_job_status_timestamp_seconds{
          database_engine="mysql",
          database_instance="release-mysql",
          database_db_name="release_production",
          operation="backup",
          state="succeeded",
          instance="db-backup-release-mysql-12345678-a1b2c"
          }
        values: '1753599600x5'  # 27/07/2025 08:00 UTC (2 hours before the evaluation time)
      - series: >-
          db_backup_job_status_timestamp_seconds{
          database_engine="postgres",
          database_instance="publishing-api-postgres",
          database_db_name="publishing-api_production",
          operation="backup",
          state="succeeded",
          instance="db-backup-publishing-api-postgres-12345678-a1b2c"
          }
        values: '1753513200x5'  # 26/07/2025 08:00 UTC (26 hours before the evaluation time)
    alert_rule_test:
      - alertname: Database backup not completed
        eval_time: 1m
        exp_alerts:
          - exp_labels:
              alertname: Database backup not completed
              severity: warning
              destination: slack-platform-engineering
              database_engine: postgres
              database_instance: publishing-api-postgres
              database_db_name: publishing-api_production
              instance: db-backup-publishing-api-postgres-12345678-a1b2c
              operation: backup
              state: succeeded
            exp_annotations:
              summary: Database backup for publishing-api-postgres.publishing-api_production did not succeed in the last 25 hours
              runbook_url: https://docs.publishing.service.gov.uk/manual/govuk-env-sync.html#alerts
              description: >-
                The publishing-api_production database in the publishing-api-postgres instance did not successfully perform a backup in the last
                25 hours.

                You can see a snapshot of the overall status on the Grafana Dashboard:
                https://grafana.eks.test.govuk.digital/d/jfc4fnp/database-backups-and-syncs

                You can see the logs for this job in this Logit search for the pod name:
                <https://kibana.logit.io/s/12345678-abcd-1234-abcd-123456789abc/app/data-explorer/discover#?_a=(discover:(columns:!(message),isDirty:!t,sort:!(!('@timestamp',asc))),metadata:(indexPattern:'filebeat-*',view:discover))&_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:(from:now-1w,to:now))&_q=(filters:!(('$state':(store:appState),meta:(alias:!n,disabled:!f,index:'filebeat-*',key:kubernetes.pod.name,negate:!f,params:(query:db-backup-publishing-api-postgres-12345678-a1b2c),type:phrase),query:(match_phrase:(kubernetes.pod.name:db-backup-publishing-api-postgres-12345678-a1b2c)))),query:(language:kuery,query:''))|db-backup-publishing-api-postgres-12345678-a1b2c>
