apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: locations-api-os-places
  labels:
    {{- include "external-secrets.labels" . | nindent 4 }}
  annotations:
    kubernetes.io/description: >
      The OS Places key and secret belonging to Locations API.
spec:
  refreshInterval: {{ .Values.externalSecrets.refreshInterval }}
  secretStoreRef:
    name: aws-secretsmanager
    kind: ClusterSecretStore
  target:
    name: locations-api-os-places
  dataFrom:
    - extract:
        key: govuk/locations-api/os-places
