{{ $app := .Values.clamav }}
{{ $_ := set .Values "appName" $app.name }}
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ include "licensify.name" . }}-{{ .Values.appName }}-db
  labels:
    {{- include "licensify.labels" . | nindent 4 }}
spec:
  storageClassName: ""
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ .Values.nfs.storage }}
  selector:
    matchLabels:
      {{- include "licensify.selectorLabels" . | nindent 6 }}
