apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: email-alert-auth
  labels:
    {{- include "external-secrets.labels" . | nindent 4 }}
  annotations:
    kubernetes.io/description: >
      Symmetric key used for encrypting and decrypting messages shared
      between email-alert-frontend and email-alert-api. Field name is
      EMAIL_ALERT_AUTH_TOKEN.
spec:
  refreshInterval: {{ .Values.externalSecrets.refreshInterval }}
  secretStoreRef:
    name: aws-secretsmanager
    kind: ClusterSecretStore
  target:
    deletionPolicy: {{ .Values.externalSecrets.deletionPolicy }}
    name: email-alert-auth
  dataFrom:
    - extract:
        key: govuk/email-alert/auth
