apiVersion: argoproj.io/v1alpha1
kind: WorkflowTemplate
metadata:
  name: add-tag-to-image
spec:
  entrypoint: add-tag-to-image
  arguments:
    parameters:
      - name: awsRegion
      - name: awsAccount
      - name: repositoryName
      - name: referenceTag
      - name: newTag
  templates:
    - name: add-tag-to-image
      serviceAccountName: {{ .Values.iamRoleServiceAccounts.tagImageWorkflow.name }}
      inputs:
        parameters:
          - name: awsRegion
            default: "eu-west-1"
          - name: awsAccount
          - name: repositoryName
          - name: referenceTag
          - name: newTag
      script:
        image: 172025368201.dkr.ecr.eu-west-1.amazonaws.com/github/alphagov/govuk/toolbox:latest
        command: [/bin/bash]
        env:
          - name: AWS_DEFAULT_REGION
            value: "{{"{{inputs.parameters.awsRegion}}"}}"
          - name: AWS_ACCOUNT
            value: "{{"{{inputs.parameters.awsAccount}}"}}"
          - name: REPOSITORY_NAME
            value: "{{"{{inputs.parameters.repositoryName}}"}}"
          - name: REFERENCE_TAG
            value: "{{"{{inputs.parameters.referenceTag}}"}}"
          - name: NEW_TAG
            value: "{{"{{inputs.parameters.newTag}}"}}"
        source: |
          {{- .Files.Get "scripts/add-tag-to-image.sh" | nindent 14 }}
  podSpecPatch: |
    containers:
      - resources:
          limits:
            cpu: 1
            memory: 1Gi
          requests:
            cpu: 500m
            memory: 512Mi
