apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: local-links-manager-postgres
  labels:
    {{- include "external-secrets.labels" . | nindent 4 }}
  annotations:
    kubernetes.io/description: >
      Connection string for Local links manager DB hosted in RDS
spec:
  refreshInterval: {{ .Values.externalSecrets.refreshInterval }}
  secretStoreRef:
    name: aws-secretsmanager
    kind: ClusterSecretStore
  target:
    name: local-links-manager-postgres
    template:
      data:
        DATABASE_URL: '{{ $.Files.Get "externalsecrets-templates/psql-conn-string.tpl" | trim }}/local-links-manager_production'
  dataFrom:
    - extract:
        key: govuk/local-links-manager/postgres
