apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: travel-advice-publisher-docdb
  labels:
    {{- include "external-secrets.labels" . | nindent 4 }}
  annotations:
    kubernetes.io/description: >
      Credentials for Travel advice publisher to connect to DocumentDB (MongoDB).
spec:
  refreshInterval: {{ .Values.externalSecrets.refreshInterval }}
  secretStoreRef:
    name: aws-secretsmanager
    kind: ClusterSecretStore
  target:
    name: travel-advice-publisher-docdb
    template:
      data:
        MONGODB_URI: '{{ $.Files.Get "externalsecrets-templates/mongo-conn-string.tpl" | trim }}/travel_advice_publisher_production'
  dataFrom:
    - extract:
        key: govuk/common/shared-documentdb
