apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: content-tagger-postgres 
  labels:
    {{- include "external-secrets.labels" . | nindent 4 }}
  annotations:
    kubernetes.io/description: >
      Connection string for Content tagger DB hosted in RDS
spec:
  refreshInterval: {{ .Values.externalSecrets.refreshInterval }}
  secretStoreRef:
    name: aws-secretsmanager
    kind: ClusterSecretStore
  target:
    name: content-tagger-postgres
    template:
      data:
        DATABASE_URL: '{{ $.Files.Get "externalsecrets-templates/psql-conn-string.tpl" | trim }}/content_tagger_production'
  dataFrom:
    - extract:
        key: govuk/content-tagger/postgres
