apiVersion: batch/v1
kind: CronJob
metadata:
  name: renovate
spec:
  schedule: '@hourly'
  concurrencyPolicy: Forbid
  jobTemplate:
    spec:
      suspend: false
      template:
        spec:
          containers:
            - name: renovate
              image: renovate/renovate:37.420.1
              env:
                - name: RENOVATE_PLATFORM
                  value: github
                - name: RENOVATE_AUTODISCOVER
                  value: 'false'
                - name: RENOVATE_GIT_AUTHOR
                  value: 'Renovate Bot <govuk-ci@users.noreply.github.com>'
                - name: RENOVATE_TOKEN
                  valueFrom:
                    secretKeyRef:
                      name: renovate-github-token
                      key: token
                - name: RENOVATE_CONFIG_FILE
                  value: /opt/renovate/config.json
                - name: RENOVATE_PR_BODY_TEMPLATE
                  value: '{{ "{{{header}}}{{{table}}}{{{warnings}}}{{{notes}}}{{{changelogs}}}{{{controls}}}{{{footer}}}" }}'
              securityContext:
                readOnlyRootFilesystem: true
                runAsUser: 1000
                runAsGroup: 1000
                runAsNonRoot: true
              volumeMounts:
                - name: config
                  mountPath: /opt/renovate/
                - name: tmp
                  mountPath: /tmp
          restartPolicy: Never
          volumes:
            - name: config
              configMap:
                name: renovate-config
            - name: tmp
              emptyDir: {}
