apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: content-data-admin-aws
  labels:
    {{- include "external-secrets.labels" . | nindent 4 }}
  annotations:
    kubernetes.io/description: >
      AWS secrets belonging to Content data admin.
spec:
  refreshInterval: {{ .Values.externalSecrets.refreshInterval }}
  secretStoreRef:
    name: aws-secretsmanager
    kind: ClusterSecretStore
  target:
    deletionPolicy: {{ .Values.externalSecrets.deletionPolicy }}
    name: content-data-admin-aws
  dataFrom:
    - extract:
        key: govuk/content-data-admin/aws
