{{- if not (has $.Values.govukEnvironment (list "staging" "production")) }}
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: publishing-api-postgres
  labels:
    {{- include "govuk-apps-conf.labels" . | nindent 4 }}
  annotations:
    kubernetes.io/description: >
      Connection string for Publishing API DB hosted in RDS
spec:
  refreshInterval: {{ .Values.externalSecrets.refreshInterval }}
  secretStoreRef:
    name: aws-secretsmanager
    kind: ClusterSecretStore
  target:
    name: publishing-api-postgres
    template:
      data:
        DATABASE_URL: '{{ $.Files.Get "externalsecrets-templates/psql-conn-string.tpl" | trim }}/publishing_api_production'
  dataFrom:
    - extract:
        key: govuk/publishing-api/postgres
{{- end }}
