# Default/example values for a Rails application.

service:
  type: NodePort
  annotations: {}
  port: 80

ingress:
  enabled: false
  annotations:
    alb.ingress.kubernetes.io/scheme: internet-facing
    alb.ingress.kubernetes.io/target-type: ip
    alb.ingress.kubernetes.io/listen-ports: '[{"HTTP": 80}, {"HTTPS": 443}]'
    alb.ingress.kubernetes.io/ssl-redirect: "443"
    alb.ingress.kubernetes.io/healthcheck-path: /readyz
  rules:
  - path: /
    pathType: Prefix

replicaCount: 2

# workerEnabled should be true if the app uses Sidekiq, false otherwise.
workerEnabled: false
workerReplicaCount: 2
workers:
- command: ["sidekiq", "-C", "config/sidekiq.yml"]
  name: worker
# appEnabled determines if web app should run.
appEnabled: true

# dbMigrationEnabled controls whether Rails database migrations are run on install/upgrade.
dbMigrationEnabled: false
dbMigrationCommand: ["rails", "db:migrate"]

# extraVolumes defines Volumes on the app Pods (in both deployment.yaml and
# worker-deployment.yaml).
extraVolumes: []

appImage:
  repository: ""  # Dummy value, overridden in ArgoCD config.
  pullPolicy: Always
  tag: latest
appPort: 3000
# appExtraVolumeMounts defines VolumeMounts on the app container (in both
# deployment.yaml and worker-deployment.yaml).
appExtraVolumeMounts: []

# appProbes defines liveness/readiness/startup probes for the app container.
# See templates/deployment.yaml file for the default values.
# When overriding these probes, you must override all three probes if you need
# them - the whole block is replaced.
appProbes: {}

nginxImage:
  repository: public.ecr.aws/nginx/nginx
  pullPolicy: Always
  tag: stable-perl
nginxPort: 8080
nginxProxyConnectTimeout: 1s
nginxProxyReadTimeout: 15s
nginxClientMaxBodySize: 1M
nginxConfigMap:
  create: true
nginxExtraVolumeMounts: []
nginxDenyCrawlers: false
proxyRailsAssetsToS3: true
serveRailsAssetsFromFilesystem: false

appResources:
  limits:
    cpu: 1
    memory: 1500Mi
  requests:
    cpu: 500m
    memory: 800Mi

workerResources:
  limits:
    cpu: 1
    memory: 1Gi
  requests:
    cpu: 500m
    memory: 512Mi

jobResources:
  limits:
    cpu: 1
    memory: 1Gi
  requests:
    cpu: 500m
    memory: 512Mi

nginxResources:
  limits:
    cpu: 1
    memory: 1Gi
  requests:
    cpu: 500m
    memory: 512Mi

# dnsConfig is passed directly into the pod specs in the app and worker
# deployment templates.
dnsConfig: {}

# extraEnv is a list of (name, value) pairs representing additional environment
# variables to pass to app containers. extraEnv is evaluated through `tpl`, so
# Helm values can be substituted using Go template syntax. Use sparingly.
extraEnv: {}
#  - name: RETICULATE_SPLINES
#    value: "true"
#  - name: SPLINE_SERVER
#    value: "https://splines.{{ .Values.externalDomain }}"

govukEnvironment: test
uploadAssets:
  enabled: true

metricsPort: 9394
monitoring:
  # monitoring.enabled determines whether PodMonitor and other Prometheus
  # Operator custom resources are to be created or not.
  enabled: false

securityContext:
  runAsNonRoot: true
  allowPrivilegeEscalation: false
  runAsUser: 1001
  runAsGroup: 1001

sentry:
  enabled: true
  createSecret: true
