# Default values for govuk-exporter.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

name: govuk-exporter

replicaCount: 1

securityContext:
  fsGroup: 1001
  runAsNonRoot: true
  runAsUser: 1001
  runAsGroup: 1001

service:
  type: ClusterIP
  port: 9090

resources:
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 100m
    memory: 128Mi

extraEnv:
  - name: MIRROR_FRESHNESS_URL
    value: ""
  - name: MIRROR_AVAILABILITY_URL
    value: ""
  - name: BACKENDS
    value: ""
  - name: REFRESH_INTERVAL
    value: 4h
