apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: collections-publisher-mysql
  labels:
    {{- include "external-secrets.labels" . | nindent 4 }}
  annotations:
    kubernetes.io/description: >
      Credentials for Collections publisher to connect to MYSQL.
spec:
  refreshInterval: {{ .Values.externalSecrets.refreshInterval }}
  secretStoreRef:
    name: aws-secretsmanager
    kind: ClusterSecretStore
  target:
    name: collections-publisher-mysql
    template:
      data:
        DATABASE_URL: '{{ $.Files.Get "externalsecrets-templates/mysql-conn-string.tpl" | trim }}/collections_publisher_production'
  dataFrom:
    - extract:
        key: govuk/collections-publisher/mysql-primary
