---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: {{ include "db-backup.fullname" . }}-passwd
  labels:
    {{- include "db-backup.labels" . | nindent 4 }}
  annotations:
    kubernetes.io/description: >
      Map of hostname to aws_db_admin password for backup/restore of databases
      hosted in RDS. TODO: stop using passwords.
spec:
  refreshInterval: {{ .Values.externalSecrets.refreshInterval }}
  secretStoreRef:
    name: aws-secretsmanager
    kind: ClusterSecretStore
  target:
    deletionPolicy: {{ .Values.externalSecrets.deletionPolicy }}
    name: {{ include "db-backup.fullname" . }}-passwd
  dataFrom:
    - extract:
        key: govuk/db-backup/passwd
