name: linting
on: [push]
jobs:
  chart-testing:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.head_ref }}
          show-progress: false

      - uses: azure/setup-helm@v3

      - uses: actions/setup-python@v4
        with:
          python-version: 3.x

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2
        with:
          version: v3.8.0

      - name: Run chart-testing (lint)
        run: ct lint --config ct.yml

      - name: Helm template
        run: |
          mkdir helm-dist
          for c in $(ls charts)
          do
            helm template "${c}" "charts/${c}" --output-dir helm-dist
          done

      - name: Read Kubernetes version from /kubernetes_version
        run: "grep KUBERNETES_VERSION kubernetes_version >> $GITHUB_ENV"

      - name: kubeconform
        uses: docker://ghcr.io/yannh/kubeconform:latest-alpine
        with:
          entrypoint: /kubeconform
          args: >
            -kubernetes-version ${{ env.KUBERNETES_VERSION }}
            -schema-location default
            -schema-location "./schemas/{{ .ResourceKind }}_{{ .ResourceAPIVersion }}.json"
            -summary
            helm-dist

  shellcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          show-progress: false
      - uses: ludeeus/action-shellcheck@00cae500b08a931fb5698e11e79bfbd38e612a38  # 2.0.0
        env:
          SHELLCHECK_OPTS: -xP SCRIPTDIR

  yamllint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          show-progress: false
      - uses: ibiqlik/action-yamllint@2576378a8e339169678f9939646ee3ee325e845c  # v3.1.1
        with:
          format: github
