# See /README.md#versioned-vs-unversioned-charts.
name: Release versioned charts

on:
  push:
    branches: [main]

jobs:
  release:
    permissions: write-all
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
        with:
          ref: main
          fetch-depth: 0
          show-progress: false
          sparse-checkout: |
            charts/argo-bootstrap
            charts/argo-bootstrap-ephemeral
            charts/cluster-secret-store
            charts/cluster-secrets
            charts/kubernetes-events-shipper

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Install Helm
        uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4  # v4.3.1

      - name: Run chart-releaser
        uses: helm/chart-releaser-action@cae68fefc6b5f367a0275617c9f83181ba54714f  # v1.7.0
        env:
          CR_SKIP_EXISTING: "true"
          CR_TOKEN: "${{ secrets.GOVUK_CI_GITHUB_API_TOKEN }}"
