name: sqlfluff
on:
  push:
    paths:
      - charts/db-backup/scripts/*.sql
      - charts/db-backup/.sqlfluff
      - .github/workflows/sqlfluff.yml

permissions:
  contents: read

jobs:
  sqlfluff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8   # v6.0.1
        with:
          show-progress: false
      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405  # v6.2.0
        with:
          python-version: "3.14"
          cache: pip
          cache-dependency-path: charts/db-backup/requirements.txt
      - run: pip install -r charts/db-backup/requirements.txt
      - run: sqlfluff lint
