name: sqlfluff
on:
  push:
    paths:
      - charts/db-backup/scripts/*.sql
      - charts/db-backup/.sqlfluff
      - .github/workflows/sqlfluff.yml
jobs:
  sqlfluff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          show-progress: false
      - uses: actions/setup-python@v4
        with:
          python-version: "3.12"
          cache: pip
          cache-dependency-path: charts/db-backup/requirements.txt
      - run: pip install -r charts/db-backup/requirements.txt
      - run: sqlfluff lint
