name: sqlfluff
on:
  push:
    paths:
      - charts/db-backup/scripts/*.sql
      - charts/db-backup/.sqlfluff
      - .github/workflows/sqlfluff.yml

permissions:
  contents: read

jobs:
  sqlfluff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd   # v6.0.2
        with:
          show-progress: false
      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548  # v6.1.0
        with:
          python-version: "3.14"
          cache: pip
          cache-dependency-path: charts/db-backup/requirements.txt
      - run: pip install -r charts/db-backup/requirements.txt
      - run: sqlfluff lint
