securityContext:
  runAsNonRoot: true
  allowPrivilegeEscalation: false
  runAsUser: 1001
  runAsGroup: 1001
resources:
  limits:
    cpu: 1
    memory: 1500Mi
  requests:
    cpu: 0.1
    memory: 800Mi
images:
  ContentStore:
    repository: "content-store"
    tag: "release"
  ContentStorePostgresqlBranch:
    repository: "content-store-postgresql-branch"
    tag: "release"
  GovukDependencyChecker:
    repository: "govuk-dependency-checker"
    tag: "release"
  SearchApi:
    repository: "search-api"
    tag: "release"
  SearchApiLearnToRank:
    repository: "search-api-learn-to-rank"
    tag: "release"

learnToRank:
  elasticsearchUri: ""
  trainingInstance:
    type: ""
    count: '1'
  deployInstance:
    type: ""
    count: '1'
  sageMakerImage: ""
  sagemakerIamRole: ""
  serviceAccountIamRole: ""

draftContentStoreMongoPostgresCron:
  schedule: "15 5 * * *"
  mongoExport:
    mongoDbUri: ""
  postgresImport:
    databaseUrlSecretName: "draft-content-store-postgres"
