# ⚠️ DEPRECATED; please do not add new jobs to this chart. See README.md for
# better alternatives.

podSecurityContext:
  fsGroup: 1001
  fsGroupChangePolicy: OnRootMismatch
  runAsNonRoot: true
  runAsUser: 1001
  runAsGroup: 1001

securityContext:
  allowPrivilegeEscalation: false
  capabilities:
    drop: [ALL]
  readOnlyRootFilesystem: true
  runAsNonRoot: true
  runAsUser: 1001

resources:
  limits:
    cpu: 1
    memory: 1500Mi
  requests:
    cpu: 0.1
    memory: 800Mi

images:
  GovukDependencyChecker:
    repository: govuk-dependency-checker
    tag: release
  GovukMirror:
    repository: govuk-mirror
    tag: release

govukMirrorSync:
  schedule: "1 43 * * *"
